@model Web.Models.UserManager.UserManagerCreateModel
@section page_title{
Create a new user
}
@section title_bar{
    <h4>
        Create a new user</h4>
}
@section breadcrumbs{
    @(Html.ActionLink<HomeController>(it => it.Index(), "Overview"))
    /@(Html.ActionLink<UserManagerController>(it => it.List(), "Users"))
> Create
}
@section master_content{
    @{Html.BeginForm<UserManagerController>(r => r.Create());}
    <div class="grid_12">
        <div class="column_content">
            <div class="row">@Html.ValidationSummary()</div>
            <div class="six_column page_header">
                <h2>
                    Create a new user</h2>
            </div>
            <fieldset class="fieldsCollection ">
                <div class="six_column section">
                    <div class="one column">
                    </div>
                    <label>
                        Name:</label>
                    <div class="row of-2">
                        <div class="column">
                            &nbsp;@Html.TextBoxFor(m => m.Employee.UserName)</div>
                        <label>
                            Client</label>
                        <div class="column">@Html.DropDownListFor(m => m.Employee.ClientId, Model.Clients)</div>
                    </div>
                    <label>
                        Email</label>
                    <div class="row">@Html.TextBoxFor(m => m.Employee.Email)</div>
                    <label>
                        Password</label>
                    <div class="row">@Html.PasswordFor(m => m.Employee.Password)</div>
                    <div class="one column">
                        @Html.ValidationMessageFor(m => m.Employee.UserName)
                    </div>
                    <br />
                    <label>
                        Confirm Password
                    </label>
                    <div class="one column">
                        @Html.PasswordFor(m => m.ConfirmedPassword)
                    </div>
                </div>
                <div class="six_column section">
                    <div class="one column">
                        &nbsp;
                    </div>
                    <div class="five column">
                    </div>
                </div>
            </fieldset>
            <div class="six_column form_buttons">
                @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<UserManagerController>(it => it.List()))">
                    Cancel</a>
            </div>
        </div>
    </div>
    @{Html.EndForm();}
}
