@model Web.Models.UserManager.UserManagerListModel
@section page_title{
Users list
}
@section title_bar{
    <h4>
        Users list</h4>
}
@section breadcrumbs{
    @(Html.ActionLink<HomeController>(it => it.Index(), "Overview"))
> List users
}
@section master_content{
    @Html.Partial("InfoMessage", this.Model.InfoMessage)
    <div class="page_header">
        <h2>
            Employees
        </h2>
    </div>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Roles
            </th>
            <th>
            </th>
        </tr>
        @foreach (var employee in this.Model.Users)
        {
            <tr>
                <td>
                    @employee.UserName
                </td>
                <td>
                    @(Html.ActionLink<UserManagerController>(call => call.Edit(employee.Id
                        ), "Assign roles"))
                </td>
                <td>
                    @{
            Html.BeginForm<UserManagerController>(m => m.Delete(employee.Id));
                    }
                    @Html.SubmitButton("delete-user", "Delete")
                    @{
            Html.EndForm();
                    }
                </td>
            </tr>
        }
    </table>
}
@section master_actions{
    <h3>
        Actions</h3>
    <div class="page_header_buttons">
        <a href="@(Html.BuildUrlFromExpression<UserManagerController>(it => it.Create()))">
            <button type="button" class="sexybutton sexysimple sexygreen">
                Create new</button></a>
    </div>
    <h3>
        Information</h3>
    <p>
        In order for an employee to appear in this list he must
        <ul>
            <li>First exist as a user in the domain</li>
            <li>Second login to this application at least once</li>
        </ul>
    </p>
}
