@model Web.Areas.StockAdministration.Models.Product.ProductOutputModel

@section page_title{
Stock Item : Edit
}
@section breadcrumbs{
    @*@Url.HomeLink("Outpost Administration")*@  @(Html.ActionLink<ProductController>(act => act.Overview(null,1), "Products Overview", StockAdministrationAreaRegistration.DEFAULT_ROUTE))
    > Edit Region : @Model.Name
}

@section master_content{
 @if (Model.errorFromUniqueProductName != null)
    {
        <div class="error">
            @Model.errorFromUniqueProductName
        </div>
    }
    @{Html.BeginForm<ProductController>(r => r.Edit(Model.Id));}
   <div style="display: none">
@Html.HiddenFor(m => m.Id)
</div>
            <fieldset class="fieldsCollection ">
                @{
                    Html.RenderPartial("EditInput", Model);     
                }
            </fieldset>
            @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<ProductController>(it => it.Overview(null,1)))" id="cancel">
                    Cancel</a>
     
    @{Html.EndForm();}
}
@section scripts{
<script type="text/javascript">

    var selectedProductGroupId = $("select[name='@Html.NameFor(m => m.ProductGroup.Id)']").val();
    document.getElementById('cancel').href = '@Url.Action("Overview")?productGroupId=' + selectedProductGroupId + '&page=1';

    $("select[name='@Html.NameFor(m => m.ProductGroup.Id)']").change(function () {
        var selectedProductGroupId = $("select[name='@Html.NameFor(m => m.ProductGroup.Id)']").val();
        document.getElementById('cancel').href = '@Url.Action("Overview")?productGroupId=' + selectedProductGroupId + '&page=1';
    });
</script>
}


