@model Web.Areas.StockAdministration.Models.Product.ProductOutputModel
<div class="row">
    @Html.ValidationSummary()
</div>
<label for="Name">
    Product
</label>
@Html.TextBoxFor(it => it.Name, new { maxlength = 250, autofocus = "autofocus", placeholder = "Product Name" })
<label for="Description">
    Description</label>
@Html.TextBoxFor(it => it.Description, new { maxlength = 250, autofocus = "autofocus", placeholder = "Product Description" })
<div class="column of-2">
    <div class="column">
        <label>
            Lower Limit
        </label>
        @Html.TextBoxFor(it => it.LowerLimit, new { maxlength = 250, autofocus = "autofocus", placeholder = "Product Lower limit" })
    </div>
    <div class="column">
        <label>
            Upper Limit
        </label>
        @Html.TextBoxFor(it => it.UpperLimit, new { maxlength = 250, autofocus = "autofocus", placeholder = "Product Upper limit" })
    </div>
</div>

<label for="StockLevel">Product Level</label>
@Html.TextBoxFor(it=>it.StockLevel,new { maxlength = 250, autofocus = "autofocus", placeholder = "Product Level" })

<label for="SMSReferenceCode">SMS Reference Code</label>
@Html.TextBoxFor(it => it.SMSReferenceCode, new { maxlength = 250, autofocus = "autofocus", placeholder = "Product SMS Reference Code" })

<label> Product group</label>
 <select name="@Html.NameFor(m => m.ProductGroup.Id)">
                @foreach (var item in Model.ProductGroups)
                  { 
                    <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                }
            </select>
@*<label> OR </label>*@
@*<button id="productgroup">Add new product group</button>*@
@* @(Html.ActionLink<Web.Areas.StockAdministration.Controllers.ProductGroupController>(it => it.CreateProductGroupForProduct(true), "Add new product group", Web.Areas.StockAdministration.StockAdministrationAreaRegistration.DEFAULT_ROUTE, new { target = "_blank" }))*@