@model Web.Areas.OutpostManagement.Models.Region.RegionOutputModel
@{Html.HiddenFor(m => m.Id);}
@section page_title{
Region : Edit
}
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration") / @(Html.ActionLink<RegionController>(act => act.Overview(@Model.CountryId), "Regions Overview", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    > Edit Region : @Model.Name
}
@section master_content{

    @{Html.BeginForm();}
   <div style="display: none">
@Html.HiddenFor(m => m.Client.Id)
</div>
            <fieldset class="fieldsCollection ">
                @{
                    Html.RenderPartial("OutpostInput", Model);     
                }
            </fieldset>
            @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<RegionController>(it => it.Overview()))">
                    Cancel</a>
     
    @{Html.EndForm();}
}
}

@section master_actions{
}

@section scripts{
<script type="text/javascript">
    $("select[name='@Html.NameFor(m => m.CountryId)'] option[value='@Guid.Empty.ToString()']").remove();
</script>
}
