@model Web.Areas.OutpostManagement.Models.Region.RegionOutputModel
<div class="row">
    @Html.ValidationSummary()
</div>
<div class="row">
    <label for="Name">
        Country
    </label>
    <div class="row">
    <select name="@Html.NameFor(m => m.CountryId)">
                <option value="@Guid.Empty.ToString()"> - Select Country - </option>
                @foreach (var item in Model.Countries) { 
                    <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                }
            </select>
          </div>
    <label for="Name">
        Region Name<text class="required-text">*</text>:</label>
    @Html.TextBoxFor(m => m.Name, new { maxlength = 250, autofocus = "autofocus", placeholder = " Region Name" })
    @Html.HiddenFor(m => m.Id)
    <label for="Name">
        Coordinates:</label>
    @Html.TextBoxFor(m => m.Coordinates, new { maxlength = 250, autofocus = "autofocus", placeholder = "Region Coordinates" })
   </div>
