@model Web.Areas.OutpostManagement.Models.Region.RegionOverviewModel
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Overview";
}
@section page_title{
Regions: Overview
}
@section breadcrumbs{
    @Url.HomeLink("Dashboard") > Regions
}
@section master_content{
    <table class="searchable">
        <thead>
            <tr>
                <th>
                    Region Name
                </th>
                <th>
                    Country
                </th>
                <th colspan="2">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var itemNo = 0;
            }
            @foreach (var region in Model.Regions)
            {
                var _class = (itemNo % 2 == 0) ? "odd" : "even";    
                <tr class="@_class">
                    <td>@region.Name
                    </td>
                    <td>@region.Country.Name
                    </td>
                    <td>@(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.RegionController>(call => call.Edit(region.Id), "Edit", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                    <td>
                        @{
                Html.BeginForm<RegionController>(m => m.Delete(region.Id),FormMethod.Post, new{ @class="delete-user-form"});
                        }
                        @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                        @{
                Html.EndForm();
                        }
                    </td>
                </tr> 
            }
        </tbody>
    </table>
}
@section master_actions{
    <h3>
        Actions</h3>
    <div class="page_header_buttons">
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.RegionController>(it => it.Create(), "Create region", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </div>
}
@section scripts{
    <script type="text/javascript">
//        $(function () {
//            $(".delete-user-form").submit(function () {
//                console.log('trying to submit');
//                return false;
//            });
//        });
//        $(function () {
//            $(".searchable").dataTable({
//                "sPaginationType": "full_numbers"
//            });
//        });

    </script>
}
