@section page_title{
    Campaign Administration: Send Messages
}
@{
    Html.RenderPartial("_SubNavigation");
    Html.RenderPartial("_CampaignManagementSideBar");
}

<script type="text/javascript">
    Ext.onReady(function () {
        var administrationBtnId = window.res.header.navigation.administration;
        var administrationBtn = Ext.getCmp(administrationBtnId);
        administrationBtn.toggle(true);

        var campaignAdministrationBtnId = window.res.header.subnavigation.buttonTabs.campaign;
        var campaignAdministrationBtn = Ext.getCmp(campaignAdministrationBtnId);
        campaignAdministrationBtn.toggle(true);

        var btnId = window.res.content.maincontent.sidebar.sendMessages;
        var senMessagesBtn = Ext.getCmp(btnId);
        senMessagesBtn.toggle(true);

    });
</script>

<style>
    .x-grid-checkheader
    {
        height: 20px;
        background-image: url('@Url.AssetUrl("img/unchecked.gif")');
        background-position: 50% +4px;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    
    .x-grid-checkheader-checked
    {
        background-image: url('@Url.AssetUrl("img/checked.gif")');
    }
    
    .x-grid-checkheader-editor .x-form-cb-wrap
    {
        text-align: center;
    }
</style>

<script type="text/javascript">
    Ext.onReady(function () {
        window.feature = {};

        window.feature.leftGrid = 'Grid-Add-Seller-Left';
        window.feature.rightGrid = 'Grid-Add-Seller-Right';
        window.feature.messageContent = 'Message-Content-Textfield';
                

        window.feature.leftGridStore = Ext.create('Ext.data.Store', {
            remoteSuport: true,
            cls: 'white-border',
            fields: ['Id', 'Name', 'Selected'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(CampaignManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "SendMessages", action = "GetOutposts" })',
                reader: {
                    type: 'json',
                    root: 'Items',
                    totalProperty: 'TotalItems'
                },
                simpleSortMode: true
            },
            sorters: [
                {
                    property: 'Name',
                    direction: 'ASC'
                }
            ]
        });

        window.feature.rightGridStore = Ext.create('Ext.data.Store', {
            fields: ['Id', 'Name', 'Selected'],
            sorters: [
                  {
                      property: 'Name',
                      direction: 'ASC'
                  }
              ]
          });
                
        Ext.define('Ext.ux.CheckColumn', {
            extend: 'Ext.grid.column.Column',
            alias: 'widget.checkcolumn',

            tdCls: Ext.baseCSSPrefix + 'grid-cell-checkcolumn',

            constructor: function () {
                this.addEvents('checkchange');
                this.callParent(arguments);
            },

            processEvent: function (type, view, cell, recordIndex, cellIndex, e) {
                if (type == 'mousedown' || (type == 'keydown' && (e.getKey() == e.ENTER || e.getKey() == e.SPACE))) {
                    var record = view.panel.store.getAt(recordIndex),
                    dataIndex = this.dataIndex,
                    checked = !record.get(dataIndex);

                    record.set(dataIndex, checked);
                    this.fireEvent('checkchange', this, recordIndex, checked);
                    // cancel selection.
                    return false;
                }
                else {
                    return this.callParent(arguments);
                }
            },

            renderer: function (value, styles, record, recordIndex, columnIndex, store, gridView) {
                var cssPrefix = Ext.baseCSSPrefix,
                cls = [cssPrefix + 'grid-checkheader'];

                if (value) {
                    cls.push(cssPrefix + 'grid-checkheader-checked');
                }
                return '<div class="' + cls.join(' ') + '">&#160;</div>';
            }
        });

      
    });

</script>

<script type="text/javascript">
    Ext.onReady(function () {
        var contentRes = window.res.content;
        var mainContent = Ext.getCmp(contentRes.maincontent.id);
      
        window.feature.topContainer = Ext.create('Ext.container.Container', {
            margin: '15 15 15 15',
            padding: '20 20 0 20',
            id: 'TopContainer',
            layout: {
                type: 'vbox',
                align:'stretch'
              
            },
            items:
              [
               {xtype: 'container',
                height: 50,
                layout: 'column',
                items: [
                    {
                       xtype: 'container',
                       height: 30,
                       width: 30,
                       html:'&nbsp;'
                   },
                   {
                        xtype: 'image',
                        src: '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/Administration/SubMenu/CampaignSelected.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))',
                        margin: '0 10 10 0'
                    },
                    {
                        xtype: 'label',
                        cls: 'x-title-label',
                        html: 'Send Messages To Sellers'
                    }
                  ]
               },
               {
                   xtype: 'label',
                   cls: 'x-title-label',
                   margin: '0 0 0 9',
                   text: 'To:'
              }
              ,
              {
                xtype: 'container',
                flex: 1,
                margin: '10 0 0 50',
                width: 700,
                height: 280,
                layout: {
                    type: 'hbox',
                    align: 'stretch'
                        },
                items:
                   [
                   {xtype: 'container',
                    flex: 1,
                    margin: '10 15 10 0',
                    layout: {
                        type: 'vbox',
                        align: 'stretch'
                        },
                    items:
                        [
                         {
                             xtype: 'label',
                             itemId: 'Label-For-Left-Grid',
                             text: 'Sellers'
                         }, {
                             xtype: 'gridpanel',
                             cls: 'white-border',
                             itemId: window.feature.leftGrid,
                             store: window.feature.leftGridStore,
                             columnLines: true,
                             loadMask: true,
                             autoScroll: true,
                             flex: 3,
                             style: {
                                 border: '0.1em',
                                 borderColor: '#BFC1D0',
                                 borderStyle: 'solid'
                             },
                             columns: [
                                   {
                                       text: 'Name',
                                       dataIndex: 'Name',
                                       menuDisabled: true,
                                       flex:1
                                   },
                                   {
                                       xtype:'checkcolumn',
                                       text: 'Selected',
                                       dataIndex: 'Selected',
                                       menuDisabled: true,
                                       sortable:false,
                                   }
                             ],
                            }
                          ]
                   },
                   {
                    xtype: 'container',
                    flex: 0.5,
                    layout: {
                        type: 'vbox',
                        align: 'center'
                    },

                    items: [
                        {
                            xtype: 'container',
                            flex: 1,
                            layout: {
                                type: 'vbox',
                                pack: 'center'
                            },
                            items: [
                                {
                                    xtype: 'button',
                                    margin: '0 0 5 0',
                                    width: 80,
                                    text: 'Add',
                                    ui: 'snapshot-add-btn',
                                    cls: 'x-add-button-gradient',
                                    handler: function () {
                                        var gridRight =  window.feature.topContainer.down('#' +window.feature.rightGrid);
                                        var gridLeft = window.feature.topContainer.down('#' + window.feature.leftGrid);

                                        var gridLeftStore = window.feature.topContainer.down('#' + window.feature.leftGrid).getStore();
                                        gridLeftStore.each(function (record) {
                                            if (record.dirty) {
                                                var newValue = {
                                                    Id: record.get('Id'),
                                                    Name: record.get('Name')
                                                };
                                                var contains = RightGridContains(newValue, gridRight);
                                                if (contains == false) {
                                                    window.feature.rightGridStore.insert(0, newValue);
                                                }
                                            }
                                        });

                                    }
                                }, {
                                    xtype: 'button',
                                    width: 80,
                                    text: 'Remove',
                                    ui: 'snapshot-add-btn',
                                    cls: 'x-add-button-gradient',
                                    handler: function () {
                                        var rightGridStore = window.feature.topContainer.down('#' + window.feature.rightGrid).getStore();
                                        rightGridStore.each(function (record) {
                                            if (record.dirty) {
                                                rightGridStore.remove(record);
                                            }
                                        });
                                    }
                                }
                            ]

                        }
                    ]
                },
                {
                 xtype: 'container',
                 flex: 1,
                 margin: '10 15 10 10',
                 layout: {
                    type: 'vbox',
                    align: 'stretch'
                        },
                 items: [
                        {
                            xtype: 'label',
                            itemId: 'Label-For-Right-Grid',
                            text:'Selected Sellers'
                        }, {
                            xtype: 'gridpanel',
                            cls: 'white-border',
                            itemId: window.feature.rightGrid,
                            store: window.feature.rightGridStore,
                            columnLines: true,
                            loadMask: true,
                            flex: 3,
                            autoScroll: true,
                            style: {
                                border:'0.1em',
                                borderColor: '#BFC1D0',
                                borderStyle: 'solid'
                            },
                            columns: [
                                {
                                    text: "Name",
                                    dataIndex: 'Name',
                                    menuDisabled: true,
                                    flex: 1,
                                    sortable: true
                                }, {
                                    xtype: 'checkcolumn',
                                    menuDisabled: true,
                                    sortable: false,
                                    dataIndex: 'Selected',
                                    header: 'Selected'
                                }]
                        }
                      ]
                }
               ]
            },
            {
                xtype: 'label',
                text: 'Message:',
                cls: 'x-title-label',
                margin: '0 0 0 9',

            },
            {
                xtype: 'container',
                layout: 'vbox',
                width: 200,
                margin: '10,0,0,0',
                items: [
               {
                   xtype: 'textfield',
                   margin: '10 10 15 40',
                   width: 686,
                   itemId: window.feature.messageContent
               },
               {
                 xtype: 'button',
                 width: 120,
                 text: 'Send',
                 ui: 'snapshot-add-btn',
                 cls: 'x-add-button-gradient',
                 handler: function () {
                     var outposts = window.feature.topContainer.down('#' + window.feature.rightGrid).getStore();
                     var message = window.feature.topContainer.down('#' + window.feature.messageContent).getValue();
                     var ids = GetRightGridStoreIds();
                     if (ids.length > 0 && message.length > 0 )
                     {
                         var values = {
                             outpostIds: ids,
                             message: message,

                         };
                         var postToUrl = '@Url.RouteUrl(Web.Bootstrap.Routes.DefaultRouteRegistrar.DEFAULT_ROUTE, new { controller = "SendMessages", action = "SendMessageToOutposts" })';
                          var action = $.post(postToUrl, values);

                          action.success(function (serverResponse) {
                              var msgAlert = Ext.Msg;
                              msgAlert.ui = 'snapshot-popup-window';
                              msgAlert.msgButtons['ok'].ui = 'snapshot-add-btn';
                              msgAlert.msgButtons['ok'].margin = '10 10 20 0';

                              msgAlert.alert(serverResponse.Status, serverResponse.Message);
                          });

                     }
                     else
                     {
                         var msgAlert = Ext.Msg;
                         msgAlert.ui = 'snapshot-popup-window';
                         msgAlert.msgButtons['ok'].ui = 'snapshot-add-btn';
                         msgAlert.msgButtons['ok'].margin = '10 10 20 0';

                         if (message.length == 0) {
                             msgAlert.alert("Error", "Message can not be empty");
                         }
                         else
                         {
                             msgAlert.alert("Error", "You need to select at least one seller");
                         }
                        
                     }
                    
                 }
             }]
            }
            ]

          
        });


        function RightGridContains(value, grid) {
            var ok = false;
            var gridRightStore = window.feature.topContainer.down('#' +window.feature.rightGrid).getStore();
            gridRightStore.each(function (record) {
                if (record.get('Id') == value.Id || record.get('Name') == value.Name)
                    ok = true;
            });

            return ok;
        }

        function GetRightGridStoreIds() {
            var ids = '';
            var gridRightStore = window.feature.topContainer.down('#' + window.feature.rightGrid).getStore();
            gridRightStore.each(function (record) {
                ids = ids + record.get('Id') + ',';
            });
            return ids;
        };
      
        mainContent.add(window.feature.topContainer);
        window.feature.leftGridStore.load();
      
    });

</script>
