@using Web.Areas.OutpostManagement.Models.StockLevel

@model OutpostStockLevelOutputModel
          
 <div id="stocklevel-overview">          

        <table id="ProductsSelection">
            <thead>
                <tr>
                    <th  class="sort-alpha">
                        Group Name
                    </th>
                    <th  class="sort-alpha">
                        Product Name
                    </th>
                     <th>
                        SMS Reference Code
                   </th>
                     <th>
                        Product Stock Level
                   </th>
                     <th>
                        Update
                   </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var itemNo = 0;
                }
                @foreach (var item in Model.StockLevels)
                {
                    var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
                    <tr>
                         <td>@Model.ProductGroupName
                        </td>
                        <td>@item.ProductName
                        </td>
                        <td>@item.ProdSmsRef
                        </td>
                        <td>@item.PrevStockLevel
                        </td>
                        <td>@item.Updated
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>
}


@section scripts{
    <script type="text/javascript">

        $(function () {

            // Add onclick handler to checkbox w/id checkme
            $("input[type='checkbox']").click(function () {
                var produsctId = $(this).attr('name');
                
                // If checked
                if ($(this).is(":checked")) {
                }
                else {
                }

            });
        });

    </script>
}

