@using Web.Areas.OutpostManagement.Models.StockLevel

@model List<OutpostStockLevelModel>
          
 <div id="products-overview">          

        <table id="ProductsSelection">
            <thead>
                <tr>
                    <th  class="sort-alpha">
                        Product
                    </th>
                    <th>
                        SMS Reference Code
                   </th>
                   <th>
                        Selected
                   </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var itemNo = 0;
                }
                @foreach (var product in Model)
                {
                    var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
                    <tr>
                        <td>@product.ProductName
                        </td>
                        <td>@product.ProdSmsRef
                        </td>
                        <td>@Html.CheckBox(product.ProductId.ToString())
                        </td>
                        <td>@product.OutpostId + ";"    @product.ProdGroupId.ToString() + ";" + @product.ProductId.ToString()</td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>



@section scripts{
    <script type="text/javascript">

        $(function () {

            // Add onclick handler to checkbox w/id checkme
            $("input[type='checkbox']").click(function () {
                var productId = $(this).attr('name');
                alert("hhhhhhh");
                debugger;

                // If checked
                if ($(this).is(":checked")) {
                }
                else {
                }

            });
        });

    </script>
}

