@using Web.Areas.OutpostManagement.Models.MobilePhone

@model MobilePhoneModel
           
@section breadcrumbs{
    @Url.HomeLink("Overview")/ @(Html.ActionLink<MobilePhoneController>(it => it.Overview(Model.Outpost_FK), "Outpost Management : Mobile Phones", OutpostManagementAreaRegistration.DEFAULT_ROUTE)) > Create
}


@section page_title{
}
@section title_bar{
}

@section master_content{


    <form method="post" 
          action="@(Url.RouteUrl<MobilePhoneController>(it => it.Create(Model.Id), OutpostManagementAreaRegistration.DEFAULT_ROUTE))"> 
           <div class="row">
     @Html.ValidationSummary()
     @Html.HiddenFor(m => m.Outpost_FK)

 </div>      
    @{
       
        Html.RenderPartial("MobilePhoneInput", Model);
    }

    @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<MobilePhoneController>(it => it.Overview(Model.Outpost_FK)))">
        Cancel</a>
    @{Html.EndForm();}



    </form>
}
@section scripts{

        
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
        });     

    </script>

}
