@model Web.Areas.OutpostManagement.Models.Outpost.MobilePhoneModel
           
@section breadcrumbs{
    @Url.HomeLink("Overview")/ @(Html.ActionLink<MobilePhoneController>(it => it.Overview(Model.OutpostId), "Outpost Management : Mobile Phones", OutpostManagementAreaRegistration.DEFAULT_ROUTE)) > Create
}


@section page_title{
}
@section title_bar{
}

@section master_content{


    <form method="post" 
          action="@(Url.RouteUrl<MobilePhoneController>(it => it.Create(Model.Id), OutpostManagementAreaRegistration.DEFAULT_ROUTE))"> 
           <div class="row">
     @Html.ValidationSummary()
     @Html.HiddenFor(m => m.OutpostId)

 </div>      
    @{
       
        Html.RenderPartial("MobilePhoneInput", Model);
    }

     @(Html.FormButtons<MobilePhoneController>(it => it.Overview(Model.OutpostId), OutpostManagementAreaRegistration.DEFAULT_ROUTE))



    </form>
}
@section scripts{

        
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
        });     

    </script>

}
