@using Web.Areas.OutpostManagement.Models.MobilePhone

@model MobilePhonesOverviewModel
           
@section page_title{
OutpostManagement Phones: Overview
}
@section title_bar{
    <h4>
        OutpostManagement : Contact Details</h4>
}

@section breadcrumbs{
   @Url.HomeLink("Overview") > OutpostManagement : Contacts
}

@section master_content{
 <table>
  <thead>
 <th>     
 </th>
 </thead>
 </table>
    <table class="searchable">
        <thead>
            <tr>
                @(Html.ActionLink<MobilePhoneController>(it => it.Create(Model.Outpost_FK), "Add new contact", OutpostManagementAreaRegistration.DEFAULT_ROUTE))</tr>
            <tr>
                <th>
                    #
                </th>
                  <th>
                    Mobile Number
                </th>
                 <th>
                 Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var itemNo = 0;
            }
            @foreach (MobilePhoneModel mobilePhone in Model.Items)
            {
                var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
                <tr class="@_class">
                    <td>
                        @(Html.ActionLink<MobilePhoneController>(it => it.Edit(mobilePhone.Id), "Edit", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                      <td>@mobilePhone.ContactDetail</td>
                   <td>
                         @{Html.BeginForm<MobilePhoneController>(m => m.Delete(mobilePhone.Id), FormMethod.Post, new { @class = "delete-user-form" });}
                         @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                         @{Html.EndForm();}
                     </td>
                </tr> 
            }
        </tbody>
    </table>
}
@section master_actions{
 }

@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".searchable").dataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Phone Number?')
            });

    </script>
}

