@model Web.Areas.OutpostManagement.Models.Country.Overview
@section page_title{
OutpostManagement Countries: Overview
}
@section title_bar{
}
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration")
> Countries
}
@section master_content{
    @if (!string.IsNullOrWhiteSpace(Model.Error))
    {
        <div class="error">
            @Model.Error
        </div>
    }
    <div>
        @(Html.ActionLink<CountryController>(it => it.Create(), "Add new country", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Country Name
                </th>
                <th>
                    Country ISO Code
                </th>
                <th>
                    Phone prefix
                </th>
                <th colspan="2">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var itemNo = 0;
            }
            @foreach (Web.Areas.OutpostManagement.Models.Country.CountryModel country in Model.Items)
            {
                var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
                <tr class="@_class">
                    <td>
                        @(Html.ActionLink<CountryController>(it => it.Edit(country.Id), "Edit", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                    <td>@(Html.ActionLink<RegionController>(it => it.Overview(country.Id), @country.Name, OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                    <td>@country.ISOCode
                    </td>
                    <td>@country.PhonePrefix
                    </td>
                    <td>
                        @(Html.ActionLink<CountryController>(it => it.Edit(country.Id), "Edit", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                    <td>
                        @{Html.BeginForm<CountryController>(m => m.Delete(country.Id), FormMethod.Post, new { @class = "delete-user-form" });}
                        @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                        @{Html.EndForm();}
                    </td>
                </tr> 
            }
        </tbody>
    </table>
}
@section master_actions{
    @{
        Html.RenderPartial("~/Views/Shared/_OutpostManagementActions.cshtml");
    }
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Country ?')
            });
        });   
    </script>
}
