@model Web.Areas.OutpostManagement.Models.Country.Overview
@section page_title{
OutpostManagement Countries: Overview
}
@section title_bar{
    <h4>
        OutpostManagement : Countries</h4>
}
@section breadcrumbs{
    @Url.HomeLink("Overview")
> OutpostManagement : Countries
}
@section master_content{
    <table>
        <tr>
            <td rowspan = 1>
                 <div class="page_header_buttons">
                    @(Html.ActionLink<CountryController>(it => it.Create(), "Add new country", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                </div>         
            </td>
            <td></td>
            <td></td>

        </tr>
    </table>
    <table class="searchable">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Country Name
                </th>
                <th>
                    Country ISO Code
                </th>
                <th>
                    Phone prefix
                </th>
                <th rowspan = 2>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var itemNo = 0;
            }
            @foreach (Web.Areas.OutpostManagement.Models.Country.CountryModel country in Model.Items)
            {
                var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
                <tr class="@_class">
                    <td>
                        @(Html.ActionLink<CountryController>(it => it.Edit(country.Id), "Edit", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                     <td>@(Html.ActionLink<RegionController>(it=>it.Overview(country.Id),@country.Name,OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                    <td>@country.ISOCode
                    </td>
                    <td>@country.PhonePrefix
                    </td>
                     <td>
                        @(Html.ActionLink<CountryController>(it => it.Edit(country.Id), "Edit", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                    <td>
                        @{Html.BeginForm<CountryController>(m => m.Delete(country.Id), FormMethod.Post, new { @class = "delete-user-form" });}
                        @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                        @{Html.EndForm();}
                    </td>
                </tr> 
            }
        </tbody>
    </table>
}
@section master_actions{
    <h3>
        Actions</h3>
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Country ?')
            });
        });   
    </script>
}
