<div class="tabs">
    <ul class="main-tabs">
        <li>
            @Url.HomeLink("Dashboard")
        </li>
        <li>
            @Url.HomeLink("Outpost Administration")
        </li>
        <li>
            @Url.HomeLink("Stock Administration")
        </li>
        <li>
            @Url.HomeLink("Alerts")
        </li>
        <li>
            @Url.HomeLink("Reports")
        </li>
        <li>
           @(Html.ActionLink<Web.Controllers.UserManagerController>(e => e.List(), "User Administration", "Default")) 
        </li>
    </ul>
</div>

