@using Web.Areas.StockAdministration;
<style>
    .x-grid-checkheader
    {
        height: 14px;
        background-image: url('@Url.AssetUrl("img/unchecked.gif")');
        background-position: 50% -2px;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    
    .x-grid-checkheader-checked
    {
        background-image: url('@Url.AssetUrl("img/checked.gif")');
    }
    
    .x-grid-checkheader-editor .x-form-cb-wrap
    {
        text-align: center;
    }
</style>

<script type="text/javascript">


    window.feature.modal={};
    window.feature.modal.stores ={};
    window.feature.modal.models ={};

</script>

<script type="text/javascript">
    Ext.define('Ext.ux.CheckColumn', {
        extend: 'Ext.grid.column.Column',
        alias: 'widget.checkcolumn',

        tdCls: Ext.baseCSSPrefix + 'grid-cell-checkcolumn',

        constructor: function () {
            this.addEvents(
                'checkchange'
                );
            this.callParent(arguments);
        },

        processEvent: function (type, view, cell, recordIndex, cellIndex, e) {
            if (type == 'mousedown' || (type == 'keydown' && (e.getKey() == e.ENTER || e.getKey() == e.SPACE))) {
                var record = view.panel.store.getAt(recordIndex),
                dataIndex = this.dataIndex,
                checked = !record.get(dataIndex);

                record.set(dataIndex, checked);
                this.fireEvent('checkchange', this, recordIndex, checked);
                // cancel selection.
                return false;
            }
            else {
                return this.callParent(arguments);
            }
        },

        renderer: function (value, styles, record, recordIndex, columnIndex, store, gridView) {
            var cssPrefix = Ext.baseCSSPrefix,
            cls = [cssPrefix + 'grid-checkheader'];

            if (value) {
                cls.push(cssPrefix + 'grid-checkheader-checked');
            }
            return '<div class="' + cls.join(' ') + '">&#160;</div>';
        }
    });
</script>

<script type="text/javascript">
    window.feature.modal.models.Schedule =  Ext.define('Ext.feature.Schedule', {
        extend: 'Ext.data.Model',
        fields: [
                { name: 'Id', type: 'string' },
                { name: 'ScheduleName', type: 'string' },
                { name: 'Basis', type: 'string' },
                { name: 'Frequency', type: 'string' },
                { name: 'Reminders' },
                {
                    name: 'RemindersDisplay',
                    type: 'string',
                    convert: function (value, record) {
                        var result = [];
                        var i;
                        var reminders = record.get('Reminders');
                        if (reminders.length > 0) {
                            for (i = 0; i < reminders.length; i++) {
                                var periodType = reminders[i].PeriodType == 'Hourly' ? 'Hour' : 'Day';
                                var periodValue = reminders[i].PeriodValue;

                                if (periodValue > 1) {
                                    periodType += 's';
                                }

                                var postfixes = ['', 'st', 'nd', 'rd'];
                                var index = i + 1;
                                var indexStr = index + (index < 4 ? postfixes[index] : 'th');

                                result[i] = Ext.String.format('{0} {1} {2} later', indexStr, periodValue, periodType);
                            }
                            return result.join('&nbsp;&nbsp;&nbsp;');
                        }
                        else {
                            return '-';
                        }
                    }
                },
                { name: 'CreationDate', type: 'string' }
            ]
    });
</script>

<script type="text/javascript">
    window.feature.modal.stores.productGroups = Ext.define('snapshot-Outpost-ProductGroupsStore', {
        
        extend: 'Ext.data.Store',
        fields: ['Id', 'Name'],
        proxy: {
            type: 'ajax',
            url: '@Url.RouteUrl(StockAdministrationAreaRegistration.DEFAULT_ROUTE, new { controller = "Product", action = "GetProductGroups" })',
            reader: {
                type: 'json',
                root: 'productGroups'
            }
        }
    });

</script>


<script type="text/javascript">
    window.feature.modal.stores.campaigns = Ext.define('snapshot-Outpost-CampaignsStore', {
        
        extend: 'Ext.data.Store',
        fields: ['Id', 'Name'],
        proxy: {
            type: 'ajax',
            url: '@Url.RouteUrl(CampaignManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "ProductLevelRequest", action = "GetCampaigns" })',
            reader: {
                type: 'json'
            }
        }
    });

</script>


<script type="text/javascript">
    window.feature.modal.stores.products = Ext.define('snapshot-Outpost-ProductsStore', {

        extend: 'Ext.data.Store',
        fields: ['Id', 'ProductItem','SmsCode', 'Selected'],
        proxy: {
            type: 'ajax',
            url: '@Url.RouteUrl(CampaignManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "ProductLevelRequest", action = "GetProducts" })',
            reader: {
                type: 'json'
            }
        }
    });

</script>

<script type="text/javascript">
    window.feature.modal.stores.schedules = Ext.define('snapshot-SchedulesStore', {
        extend: 'Ext.data.Store',
        model: window.feature.modal.models.Schedule,
        proxy: {
            type: 'ajax',
            url: '@Url.RouteUrl(CampaignManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "ProductLevelRequest", action = "GetSchedules" })',
            reader: {
                type: 'json'
            }
        },
        remoteSort: true
    });

</script>

<script type="text/javascript">

    window.feature.createProductLevelRequest = Ext.define('snapshot-Outpost-AssignProductsModalWindow', {
        extend: 'Ext.window.Window',
        modal: true,
        height: 600,
        width: 1200,
        bodyPadding: 0,
        bodyStyle: 'background-color:#fff',
        layout: 'fit',

        initComponent: function () {
            var me = this;

            me.buttons = [
                {
                    text: 'Cancel', handler: function () {
                        me.close();
                        me.destroy();
                    }
                }, {
                    text: 'Save', handler: function () {
                        me.onSave();
                    }
                }
            ];

            me.productGroupStore = new window.feature.modal.stores.productGroups();
            me.schedules = new window.feature.modal.stores.schedules();
            me.products = new window.feature.modal.stores.products();
            me.campaigns = new window.feature.modal.stores.campaigns();

            me.items = [
                {
                    xtype: 'panel',
                    layout: {
                        type: 'vbox',
                        align: 'stretch'
                    },
                    items: [
                        {
                            xtype: 'panel',
                            height: 50,
                            layout: 'column',
                            items: [
                                {
                                    xtype: 'combobox',
                                    itemId: 'campaign',
                                    fieldLabel: 'Campaign',
                                    store: me.campaigns,
                                    emptyText: 'Campaign List',
                                    allowBlank:false,
                                    queryMode: 'local',
                                    valueField: 'Id',
                                    displayField: 'Name'

                                }, {
                                    xtype: 'combobox',
                                    itemId: 'productGroup',
                                    fieldLabel: 'Product Group',
                                    store: me.productGroupStore,
                                    emptyText: 'Product Group List',
                                    allowBlank:false,
                                    queryMode: 'local',
                                    valueField: 'Id',
                                    displayField: 'Name',
                                    listeners: {
                                        'select': function (cmb) {
                                            me.onChangeProductGroup.apply(me, [cmb]);
                                        }
                                    }
                                }
                            ]
                        }, {
                            xtype: 'gridpanel',
                            autoscroll: true,
                            store: me.products,
                            columns: [
                                {
                                    header: 'Product Item',
                                    dataIndex: 'ProductItem',
                                    flex: 1
                                }, {
                                    header: 'SMS Code',
                                    dataIndex: 'SmsCode',
                                    flex: 1
                                }, {
                                    xtype: 'checkcolumn',
                                    listeners: {
                                        'checkchange': function (column, rowIndex, value) {
                                            var record = me.products.getAt(rowIndex);
                                            record.commit();
                                        }
                                    },
                                    header: 'Selected',
                                    dataIndex: 'Selected'
                                }
                            ],
                            flex: 1
                        }, {
                            xtype: 'panel',
                            height: 30,
                            html: _t('Please select a schedule')
                        }, {
                            xtype: 'gridpanel',
                            store: me.schedules,
                            autoscroll: true,
                            columns: [
                                {
                                    header: 'Schedule',
                                    dataIndex: 'ScheduleName',
                                    flex: 1
                                }, {
                                    header: 'Basis',
                                    dataIndex: 'Basis'
                                }, {
                                    header: 'Frequency',
                                    dataIndex: 'Frequency'
                                }, {
                                    header: 'Reminders',
                                    flex: 1,
                                    dataIndex: 'RemindersDisplay'
                                }, {
                                    xtype: 'checkcolumn',
                                    listeners: {
                                        'checkchange': function (column, rowIndex, value) {
                                            if (value) {
                                                me.schedules.each(function (row, rowIdx) {
                                                    row.set('Selected', rowIdx == rowIndex);
                                                });
                                            }
                                        }
                                    },
                                    header: 'Selected',
                                    dataIndex: 'Selected'
                                }
                            ],
                            viewConfig: {

                            },
                            flex: 1
                        }
                    ]

                }

            ];

            me.callParent(arguments);
            me.campaigns.load();
            me.productGroupStore.load();
            me.schedules.load();


        },

        onChangeProductGroup: function (cmb) {
            var me = this;

            me.products.proxy.extraParams = {
                productGroupId: cmb.getValue()
            }

            me.products.load();
        },
        onSave: function () {
            var me = this;

            var campaign = me.down('#campaign');
            var productGroup = me.down('#productGroup');

            if (!campaign.validate()) {
                return;
            }

            if (!productGroup.validate()) {
                return;
            }

            var params = {
                CampaignId: campaign.getValue(),
                ProductGroupId: productGroup.getValue(),
                Products: [],
                ScheduleId: null
            }

            var atLeastOneProductSelected = false;
            me.products.each(function (schedule) {
                var value = _(schedule.data).clone();
                delete value.id;
                atLeastOneProductSelected = atLeastOneProductSelected || value.Selected;

                params.Products.push(value);
            });

            if (!atLeastOneProductSelected) {
                Ext.Msg.alert('No product selected', 'At least one product must be selected in order to create a product level request.');
                return;
            }

            var record = me.schedules.findRecord('Selected', true);
            if (record) {
                params.ScheduleId = record.get('Id');
            } else {
                Ext.Msg.alert('No schedule selected', 'A schedule must be selected in order to create a product level request.');
                return;
            }


            var url = '@Url.RouteUrl(CampaignManagementAreaRegistration.DEFAULT_ROUTE, new { controller = "ProductLevelRequest", action = "Create" })';
            var action = $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json; charset=UTF-8',
                data: Ext.encode(params),
                dataType: "json"
            });

            action.success(function () {
                me.gridStore.loadPage(1);
                me.destroy();
            });

        }

    });
</script>