@section page_title{
Analysis
}

@using Web.Areas.AnalysisManagement.Controllers;
@using Web.Areas.AnalysisManagement;
@using Microsoft.Web.Mvc;


@{
    Html.RenderPartial("_EmptySubNavigation");
    Html.RenderPartial("_EmptySideBar");
}
<script type="text/javascript">

    Ext.onReady(function () {

        var analysisBtnId = window.res.header.navigation.analysisAndReports;
        var analysisBtn = Ext.getCmp(analysisBtnId);
        analysisBtn.toggle(true);

    });

</script>
<script type="text/javascript">
    Ext.onReady(function () {

        window.feature = {};

        window.feature.container = Ext.create('Ext.container.Container', {
            margin: '15 25 15 15',
            padding: '20 20 20 20',
            id: 'TopContainer',
            layout: {
                align: 'stretch',
                type: 'hbox'
            },
            items: [{
                xtype: 'container',
                width: 1200,
                height: 250,
                
                layout: {
                    align: 'stretch',
                    type: 'vbox'
                },
                items: [{
                    xtype: 'container',
                    height: 110,
                    layout: {
                        align: 'stretch',
                        type: 'hbox'
                    },
                    items: [{
                        xtype: 'container',
                        width: 550,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href='@(Url.RouteUrl<ReportRegionLevelController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/Analysis/StockLevelRegion.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',   
                            tdAttrs: {height: 25, valign: 'top'},     
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<ReportRegionLevelController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Product level information at region level' }
                        }, {
                            xtype: 'label',
                            tdAttrs: { valign: 'top' },     
                            text: 'This report will show you the latest data of products level at the region level'    
                        }]
                    }, {
                        xtype: 'container',
                        width: 550,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href='@(Url.RouteUrl<ReportDistrictLevelController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))'><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/Analysis/StockLevelDistrict.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},  
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '@(Url.RouteUrl<ReportDistrictLevelController>(x=>x.Overview(),AnalysisManagementAreaRegistration.DEFAULT_ROUTE))', html: 'Product level information at district level' }
                                    
                        }, {
                            xtype: 'label',
                            tdAttrs: { valign: 'top' },     
                            text: 'This report will show you the latest data of products level at the district level'  
                        }]
                    }]
                }, {
                    xtype: 'container',
                    height: 110,
                    layout: {
                        align: 'top',
                        type: 'hbox'
                    },
                    items: [{
                        xtype: 'container',
                        width: 550,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href=''><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/Analysis/ActivityReport.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},  
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '', html: 'Activity report for an outpost' }     
                        }, {
                            xtype: 'label',
                            tdAttrs: { valign: 'top' } , 
                            text: 'Report description'
                        }]
                    }, {
                        xtype: 'container',
                        width: 550,
                        layout: {
                            type: 'table',
                            columns: 2
                        },
                        defaults: {
                            tdAttrs: { valign: 'top'}  
                        },
                        items: [{
                            xtype: 'image',
                            autoEl: { html: "<a href=''><img height='60' src = '@(Url.RouteUrl<Web.Controllers.AssetsController>(it => it.Shared("/img/Analysis/OutpostList.png"), Web.Bootstrap.Routes.AssetRoutesRegistrar.SHARED))'/></a>" },
                            margin: '0 20 0 20',
                            height: 110,
                            rowspan: 2
                        }, {
                            xtype: 'label',
                            tdAttrs: {height: 25, valign: 'top'},     
                            autoEl: { tag: 'a', cls: 'blue-label analysis-label', href: '', html: 'Outpost list with excess levels of a stock item' }    
                        }, {
                            xtype: 'label',
                            text: 'Report description',
                            tdAttrs: { valign: 'top' }     
                        }]
                    }]
                }]
            }]
        });

        var contentRes = window.res.content;
        var mainContent = Ext.getCmp(contentRes.maincontent.id);

        mainContent.add(window.feature.container);
    });
</script>
