@model Web.Areas.OutpostManagement.Models.District.DistrictOutputModel
@using Microsoft.Web.Mvc
@section page_title{
District : Create
}
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration") / @(Html.ActionLink<DistrictController>(act => act.Overview(null, null), "Districts Overview", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
> Create District
}
@section master_content{
    @{Html.BeginForm<DistrictController>(r => r.Create());}
    <fieldset class="fieldsCollection ">
        @{
            Html.RenderPartial("Input", Model);     
        }
    </fieldset>
    @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<RegionController>(it => it.Overview(null)))">
        Cancel</a>
    @{Html.EndForm();}
}
@section scripts{
    <script type="text/javascript">
        $("select[name='@Html.NameFor(m => m.Region.CountryId)']").change(function () {
            var e = $(this)[0];
            var selectedCountryId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetRegionsForCountry", "District")?countryId=' + selectedCountryId, function (data) {
                var drop = $("select[name='@Html.NameFor(m => m.Region.Id)']")
                drop.html('')
                var opt = document.createElement("option");
                opt.text = "- Select Region -";
                opt.value = '@Guid.Empty.ToString("n")';

                drop.append(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    drop.append(opt);
                });

            });

            $("select[name='@Html.NameFor(m => m.Region.CountryId)'] option[value='@Guid.Empty.ToString()']").remove();
        });

        $("select[name='@Html.NameFor(m => m.Region.Id)']").change(function () {
            $("select[name='@Html.NameFor(m => m.Region.Id)'] option[value='@Guid.Empty.ToString("n")']").remove();
        });     
    </script>
}
