@model Web.Areas.OutpostManagement.Models.District.DistrictOutputModel

@{Html.HiddenFor(m => m.Id);}
@section page_title{
District : Edit
}
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration") / @(Html.ActionLink<DistrictController>(act => act.Overview(), "Districts Overview", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    > Edit District : @Model.Name
}
@section master_content{

    @{Html.BeginForm();}
   <div style="display: none">
@Html.HiddenFor(m => m.Client.Id)
</div>
            <fieldset class="fieldsCollection ">
                @{
                    Html.RenderPartial("Input", Model);     
                }
            </fieldset>
            @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<RegionController>(it => it.Overview(null)))">
                    Cancel</a>
     
    @{Html.EndForm();}
}
@section master_actions{
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var e = document.getElementById("Region_Country_Id");
            var selectedCountryId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetRegionsForCountry", "District")?countryId=' + selectedCountryId, function (data) {
                var drop = $("#Region_Id")
                drop.html('')

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];

                    var ddlRegions = document.getElementById("Region_Id");
                    ddlRegions.options.add(opt);
                });

            });

        });
        function onCountrySelected() {
            var e = document.getElementById("Region_Country_Id");
            var selectedCountryId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetRegionsForCountry", "District")?countryId=' + selectedCountryId, function (data) {
                var drop = $("#Region_Id")
                drop.html('')

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];

                    var ddlRegions = document.getElementById("Region_Id");
                    ddlRegions.options.add(opt);
                });

            });
        }        
    </script>
}