@model Web.Areas.OutpostManagement.Models.District.DistrictOutputModel
<div class="row">
    @Html.ValidationSummary()
</div>
<label for="Name">
    Country
</label>
<div class="row">
    <select name="@Html.NameFor(m => m.Region.CountryId)">
        @foreach (var item in Model.Countries)
        { 
            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
        }
    </select>
</div>
<label for="Name">
    Region
</label>
<div class="row">
    <select name="@Html.NameFor(m => m.Region.Id)">
        @foreach (var item in Model.Regions)
        { 
            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
        }
    </select>
</div>
<div class="row">
    <label for="Name">
        District Name<text class="required-text">*</text>:</label>
    @Html.TextBoxFor(m => m.Name, new { maxlength = 250, autofocus = "autofocus", placeholder = "District Name" })
    @Html.HiddenFor(m => m.Id)
</div>
