@model Web.Areas.OutpostManagement.Models.District.DistrictOutputModel

@{Html.HiddenFor(m => m.Id);}
@section page_title{
District : Edit
}
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration") / @(Html.ActionLink<DistrictController>(act => act.Overview(@Model.Region.CountryId,@Model.Region.Id), "Districts Overview", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    > Edit District : @Model.Name
}
@section master_content{

    @{Html.BeginForm();}
   <div style="display: none">
@Html.HiddenFor(m => m.Client.Id)
</div>
            <fieldset class="fieldsCollection ">
                @{
                    Html.RenderPartial("EditInput", Model);     
                }
            </fieldset>
            @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<DistrictController>(it => it.Overview(@Model.Region.CountryId,@Model.Region.Id)))">
                    Cancel</a>
     
    @{Html.EndForm();}
}
@section master_actions{
}
@section scripts{
    <script type="text/javascript">
     $("select[name='@Html.NameFor(m => m.Region.CountryId)'] option[value='@Guid.Empty.ToString()']").remove();
     $("select[name='@Html.NameFor(m => m.Region.Id)'] option[value='@Guid.Empty.ToString()']").remove();

        $("select[name='@Html.NameFor(m => m.Region.CountryId)']").change(function () {
            var e = $(this)[0];
            var selectedCountryId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetRegionsForCountry", "District")?countryId=' + selectedCountryId, function (data) {
                var drop = $("select[name='@Html.NameFor(m => m.Region.Id)']")
                drop.html('')
                var opt = document.createElement("option");
                opt.text = "- Select Region -";
                opt.value = '@Guid.Empty.ToString("n")';

                drop.append(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    drop.append(opt);
                });

            });
           
        });

        $("select[name='@Html.NameFor(m => m.Region.Id)']").change(function () {
            $("select[name='@Html.NameFor(m => m.Region.Id)'] option[value='@Guid.Empty.ToString("n")']").remove();
        });     
    </script>
}