@model Web.Areas.OutpostManagement.Models.District.DistrictOutputModel
<div class="row">
 @Html.ValidationSummary()
 </div>
 
  <label for="Name"> Country </label>
         <div class="row">
         @Html.DropDownListFor(m => m.Region.CountryId, Model.Countries, new { onChange="onCountrySelected()", @class="countries-dropbox"})
        
         </div>
 <label for="Name"> Region </label>
         <div class="row">
         @Html.DropDownListFor(m => m.Region.Id, Model.Regions, new { @class = "regions-dropbox" })
        
         </div>
<div class="row">
    <label for="Name"> District Name<text class="required-text">*</text>:</label>
        @Html.TextBoxFor(m => m.Name, new { maxlength = 250, autofocus = "autofocus", placeholder = "District Name" })
         @Html.HiddenFor(m => m.Id)
        
          
</div>