@model Web.Areas.OutpostManagement.Models.District.DistrictOverviewModel
@using Microsoft.Web.Mvc
@{
    ViewBag.Title = "Overview";
}
@section page_title{
Districts: Overview
}
@section breadcrumbs{
    @Url.HomeLink("Dashboard") > Districts
}
@section master_content{
    @if (Model.Error != null)
    {
        <div class="error">
            @Model.Error
        </div>
    }
    <table class="searchable">
        <thead>
            <tr>
                <th>
                    District Name
                </th>
                <th>
                    Region
                </th>
                <th colspan="2">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var itemNo = 0;
            }
            @foreach (var district in Model.Districts)
            {
                var _class = (itemNo % 2 == 0) ? "odd" : "even";    
                <tr class="@_class">
                    <td>@district.Name
                    </td>
                    <td>@if(@district.Region != null) {@district.Region.Name}
                    </td>
                    <td>@(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.DistrictController>(call => call.Edit(district.Id), "Edit", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                    <td>
                        @{
                Html.BeginForm<DistrictController>(m => m.Delete(district.Id), FormMethod.Post, new { @class = "delete-user-form" });
                        }
                        @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                        @{
                Html.EndForm();
                        }
                    </td>
                </tr> 
            }
        </tbody>
    </table>
}
@section master_actions{
    <h3>
        Actions</h3>
    <div class="page_header_buttons">
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.DistrictController>(it => it.Create(), "Create district", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </div>
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this district?')
            });
        });           
    </script>
}
