@model Web.Areas.StockAdministration.Models.StockItem.StockItemOutputModel

@section page_title{
Stock Item : Edit
}
@section breadcrumbs{
    @*@Url.HomeLink("Outpost Administration")*@ / @(Html.ActionLink<StockItemController>(act => act.Overview(), "Stock Items Overview", StockAdministrationAreaRegistration.DEFAULT_ROUTE))
    > Edit Region : @Model.Name
}

@section master_content{
@*
    @{Html.BeginForm();}
   <div style="display: none">
@Html.HiddenFor(m => m.Id)
</div>
            <fieldset class="fieldsCollection ">
                @{
                    Html.RenderPartial("Input", Model);     
                }
            </fieldset>
            @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<StockItemController>(it => it.Overview()))">
                    Cancel</a>
     
    @{Html.EndForm();}
    *@
}
}

