@model Web.Areas.StockAdministration.Models.Product.ProductOutputModel
           @*
<div class="row">
    @Html.ValidationSummary()
</div>
<label for="Name">
    Stock Item
</label>
@Html.TextBoxFor(it => it.Name, new { maxlength = 250, autofocus = "autofocus", placeholder = "Stock Item Name" })
<label for="Description">
    Description</label>
@Html.TextBoxFor(it => it.Description, new { maxlength = 250, autofocus = "autofocus", placeholder = "Stock Item Description" })
<div class="column of-2">
    <div class="column">
        <label>
            Lower Limit
        </label>
        @Html.TextBoxFor(it => it.LowerLimit, new { maxlength = 250, autofocus = "autofocus", placeholder = "Stock Item Lower limit" })
    </div>
    <div class="column">
        <label>
            Upper Limit
        </label>
        @Html.TextBoxFor(it => it.UpperLimit, new { maxlength = 250, autofocus = "autofocus", placeholder = "Stock Item Upper limit" })
    </div>
</div>

<label for="SMSReferenceCode">SMS Reference Code</label>
@Html.TextBoxFor(it => it.SMSReferenceCode, new { maxlength = 250, autofocus = "autofocus", placeholder = "Stock Item SMS Reference Code" })

<label for="Name">
    Outpost
</label>
 @Html.DropDownListFor(it=>it.Outpost.Id,Model.OutpostList)
 *@


@*<select class="chosen" multiple="multiple" style="width:400px;">
 <option value=""></option>
    @foreach (var outpost in Model.Outposts)
    {
        <option value="@outpost.Value" @(outpost.Selected ? @"selected='selected'" : @"") >@outpost.Text</option> 
    }

</select>*@

@*
<label> Stock group</label>
@Html.DropDownListFor(it => it.StockGroup.Id, Model.StockGroups);
*@