<div class="on-boarding">
    <h1 class="menu-title on-boarding">
        On-Boarding</h1>
    <ul>
        <li>
            @(Html.ActionLink<CandidateController>(it => it.Overview(), "View All", OnBoardingAreaRegistration.DEFAULT_ROUTE))
        </li>
        <li>@Html.ActionLink("Add Candidate", "Create", "Candidate", new { area = "OnBoarding" }, null)</li>
        @{
            var today = DateTime.Today;
        }
        <li>@(Html.ActionLink<CalendarController>(it => it.Overview(today.Year, today.Month, today.Day), "New Employee Calendar", OnBoardingAreaRegistration.DEFAULT_ROUTE))</li>
    </ul>
</div>
<div class="employees">
    <h1 class="menu-title employees">
        Employees</h1>
    <ul>
        <li>@(Html.ActionLink<Web.Areas.Employees.Controllers.EmployeeController>(e => e.Overview(), "View all", Web.Areas.Employees.EmployeesAreaRegistration.DEFAULT_ROUTE))</li>
        <li>@(Html.ActionLink<Web.Areas.Employees.Controllers.ReportsController>(e => e.Overview(), "Reports", Web.Areas.Employees.EmployeesAreaRegistration.DEFAULT_ROUTE))</li>
    </ul>
</div>
<div class="off-boarding">
    <h1 class="menu-title off-boarding">
        Off-Boarding</h1>
    <ul>
        <li>@(Html.ActionLink<Web.Areas.OffBoarding.Controllers.OffBoardingController>(e => e.Overview(),"View All",Web.Areas.OffBoarding.OffBoardingAreaRegistration.DEFAULT_ROUTE))</li>
       
    </ul>
</div>
