
@using Web.Areas.OutpostManagement.Models.Contact

@model ContactModel
           
@section breadcrumbs{
    @Url.HomeLink("Overview")/ @(Html.ActionLink<ContactController>(it => it.Overview(Model.OutpostId), "Outpost Management : Contacts", OutpostManagementAreaRegistration.DEFAULT_ROUTE)) > Create
}


@section page_title{
}
@section title_bar{
}

@section master_content{


    <form method="post" 
          action="@(Url.RouteUrl<ContactController>(it => it.Create(Model.Id), OutpostManagementAreaRegistration.DEFAULT_ROUTE))"> 
           <div class="row">
     @Html.ValidationSummary()
     @Html.HiddenFor(m => m.OutpostId)
     
 </div>      
    @{
       
        Html.RenderPartial("ContactInput", Model);
    }

    @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<OutpostController>(it => it.OverviewContacts(Model.OutpostId)))">
        Cancel</a>
    @{Html.EndForm();}



    </form>
}
@section scripts{

        
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
        });     

    </script>

}
