
@using Web.Areas.OutpostManagement.Models.Outpost
@using Web.Areas.OutpostManagement.Models.Contact

@model OutpostOutputModel
           
 @Html.HiddenFor(m => m.Contacts)

<fieldset id="fieldsetContacts">
    <legend>Contact Information</legend>
@*    <table id="Header">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    <label>
                        Search:<input type="text" id="contactsSearch" name="contactsSearch" maxlength="50"
                            style="width: 200px; height: 30px; margin-left: 0px" />
                    </label>
                </th>
            </tr>
        </thead>
    </table>
*@    
    <div>&nbsp;</div>
     <div class="page_header_buttons">
        @(Html.ActionLink<OutpostController>(it => it.CreateContact(Model.Id), "Add new Contact", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </div>
    <div>&nbsp;</div>

    <div>
        <span class='info'>Please select at least a mobile phone number or an e-mail address
            as contact method for product requests.</span>
    </div>
    <div>&nbsp;</div>
    <table id="Contacts">
        <thead>
            <tr>
                <th>
                    Contact Method
                </th>
                <th>
                    Contact Detail
                </th>
                <th>
                    Is the Main Method
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var itemNo = 0;
            }
            @foreach (Domain.Contact contact in Model.Contacts)
            {
                var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
                <tr class="@_class">
                    <td>
                        @contact.ContactType
                    </td>
                    <td>
                        @contact.ContactDetail
                    </td>
                    <td>
                        @Html.CheckBox(contact.Id.ToString(), contact.IsMainContact)
                    </td>
                    <td>
                        @{Html.BeginForm<OutpostController>(m => m.DeleteContact( Model.Id, contact.Id),
                                FormMethod.Post,
                                new { @class = "delete-user-form" });}
                        @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                        @{Html.EndForm();}                    
                    </td>
                </tr> 
            }
        </tbody>
    </table>
    </fieldset>



@section scripts{
    <script type="text/javascript">

        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Contact?')
            });

        });



    </script>
}
