@model Web.Areas.StockAdministration.Models.ProductGroup.ProductGroupOutputModel
<div class="row">
    @Html.ValidationSummary()
    @Html.HiddenFor(m=>m.CommingFromProductCreate)

    
    @Model.CommingFromProductCreate = @Model.CommingFromProductCreate;
</div>
<label for="Name">
    Stock Group
</label>
@Html.TextBoxFor(it => it.Name, new { maxlength = 50, autofocus = "autofocus", placeholder = "Product Group Name" })
<label for="Description">
    Description</label>
@Html.TextAreaFor(it => it.Description, new { maxlength = 250, autofocus = "autofocus", placeholder = "Product Group Description" })


