@model Web.Areas.StockAdministration.Models.OutpostStockLevel.OutpostWithProductGroups
<div id="stocklevel-overview">
    <label for="OutpostName" class="big-text">
        <b>Outpost </b> @Model.Name</label> <br />
        @if ((Model.StockGroups.Count == 0)&&(Model.Name !=null)) { <label > There are no product groups for products from this outpost! </label>}
    @foreach (var stockGroup in Model.StockGroups)
    {
        <label for="StockGroupName" class="big-text"><b>@stockGroup.Name</b></label>
    
        <table>
            <thead>
                <tr>
                    <th>
                        Stock Item
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Stock Level
                    </th>
                    <th>
                        SMS Reference Code
                    </th>
                    <th>
                        Last Update At
                    </th>
                    <th>
                        Update Method
                    </th>
                    <th>
                        Previous Stock Level
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
        var itemNo = 0;
                }
                @foreach (var stockItem in stockGroup.StockItems)
                {
                    var _class = (itemNo % 2 == 0) ? "odd" : "even";    
                    <tr class="@_class">
                        <td>@stockItem.Name
                        </td>
                        <td>
                            @stockItem.Description
                        </td>
                        <td>@stockItem.StockLevel
                        </td>
                        <td>@stockItem.SMSReferenceCode
                        </td>
                        <td>
                           @stockItem.LastUpdateAt
                        </td>
                        <td>
                            @stockItem.UpdateMethod
                        </td>
                        <td>
                            @stockItem.PreviousStockLevel
                        </td>
                        <td>
                            Edit
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
 
    }
       </div>