@model Web.Areas.StockAdministration.Models.OutpostStockLevel.OutpostStockLevelOverviewModel
@section page_title{
Outpost Stock Level Current
}
@{
    Html.RenderPartial("_OutpostStockLevelSubNavigation");
    Html.RenderPartial("_OutpostStockLevelMainContent");
    
}
<script type="text/javascript">
    Ext.onReady(function () {

        var outpostStockLevelBtnId = window.res.content.maincontent.sidebar.outpostStockLevelCurrent;
        var outpostStockLevelBtn = Ext.getCmp(outpostStockLevelBtnId);
        outpostStockLevelBtn.toggle(true);

    });
</script>
<script type="text/javascript">
    Ext.onReady(function () {

        window.feature = {};
        window.feature.comboboxCountriesId = 'comboboxCountriesId';
        window.feature.comboboxRegionsId = 'combobxRegionsId';
        window.feature.comboboxDistrictsId = 'comboboxDistrictsId';
        window.feature.comboboxOutpostsId = 'comboboxOutpostId';


        window.feature.CountryStore = Ext.create('Ext.data.Store', {
            fields: ['Name', 'Id'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(StockAdministrationAreaRegistration.DEFAULT_ROUTE, new { controller = "OutpostStockLevel", action = "GetCountries" })',
                reader: {
                    type: 'json',
                    root: 'countries',
                    disableCaching: true,
                    totalProperty: 'TotalItems'
                }
            }
        });

        window.feature.RegionStore = Ext.create('Ext.data.Store', {
            fields: ['Name', 'Id'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(StockAdministrationAreaRegistration.DEFAULT_ROUTE, new { controller = "OutpostStockLevel", action = "GetRegions" })',
                reader: {
                    type: 'json',
                    root: 'regions',
                    disableCaching: true,
                    totalProperty: 'TotalItems'
                }
            }
        });

        window.feature.DistrictStore = Ext.create('Ext.data.Store', {
            fields: ['Name', 'Id'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(StockAdministrationAreaRegistration.DEFAULT_ROUTE, new { controller = "OutpostStockLevel", action = "GetDistricts" })',
                reader: {
                    type: 'json',
                    root: 'districts',
                    disableCaching: true,
                    totalProperty: 'TotalItems'
                }
            }
        });

        window.feature.OutpostStore = Ext.create('Ext.data.Store', {
            fields: ['Name', 'Id'],
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(StockAdministrationAreaRegistration.DEFAULT_ROUTE, new { controller = "OutpostStockLevel", action = "GetOutposts" })',
                reader: {
                    type: 'json',
                    root: 'outposts',
                    disableCaching: true,
                    totalProperty: 'TotalItems'
                }
            }
        });

        window.feature.comboBoxCountries = Ext.create('Ext.form.ComboBox', {
            store: window.feature.CountryStore,
            queryMode: 'local',
            id: window.feature.comboboxCountriesId,
            displayField: 'Name',
            valueField: 'Id',
            margin: '0 0 0 30',
            emptyText: _t('Country List'),
            listeners: {
                select: function (combo, record, index) {
                    var selectedCountryId = record[0].data.Id;
                    var comboboxRegions = Ext.getCmp(window.feature.comboboxRegionsId);
                    comboboxRegions.setValue(null);
                    comboboxRegions.setDisabled(false);

                    window.feature.RegionStore.load({ params: { countryId: selectedCountryId} });

                    var comboboxDistricts = Ext.getCmp(window.feature.comboboxDistrictsId);
                    var comboboxOutposts = Ext.getCmp(window.feature.comboboxOutpostsId);


                    comboboxDistricts.setValue(null);
                    comboboxDistricts.setDisabled(true);

                    comboboxOutposts.setValue(null);
                    comboboxOutposts.setDisabled(true);

                }
            }
        });

        window.feature.comboBoxRegions = Ext.create('Ext.form.ComboBox', {
            store: window.feature.RegionStore,
            queryMode: 'local',
            id: window.feature.comboboxRegionsId,
            displayField: 'Name',
            valueField: 'Id',
            disabled: true,
            margin: '0 0 0 30',
            emptyText: _t('Region List'),
            listeners: {
                select: function (combo, record, index) {
                    var selectedRegionId = record[0].data.Id;
                    Ext.getCmp(window.feature.comboboxDistrictsId).setDisabled(false);
                    Ext.getCmp(window.feature.comboboxDistrictsId).setValue(null);
                    window.feature.DistrictStore.load({ params: { regionId: selectedRegionId} });

                    var comboboxOutpost = Ext.getCmp(window.feature.comboboxOutpostsId);

                    comboboxOutpost.setValue(null);
                    comboboxOutpost.setDisabled(true);

                }
            }
        });

        window.feature.comboBoxDistricts = Ext.create('Ext.form.ComboBox', {
            store: window.feature.DistrictStore,
            queryMode: 'local',
            id: window.feature.comboboxDistrictsId,
            displayField: 'Name',
            valueField: 'Id',
            disabled: true,
            margin: '0 0 0 30',
            emptyText: _t('District List'),
            listeners: {
                select: function (combo, record, index) {
                    var selectedDistrictId = record[0].data.Id;
                    window.feature.OutpostStore.load({ params: { districtId: selectedDistrictId} });

                    Ext.getCmp(window.feature.comboboxOutpostsId).setDisabled(false);

                }
            }
        });

        window.feature.comboBoxOutposts = Ext.create('Ext.form.ComboBox', {
            store: window.feature.OutpostStore,
            queryMode: 'local',
            id: window.feature.comboboxOutpostsId,
            displayField: 'Name',
            valueField: 'Id',
            disabled: true,
            margin: '0 0 0 30',
            emptyText: _t('Outpost List')

        });
        Ext.define('Outpost', {
            extend: 'Ext.data.Model',
            fields: ['text', 'duration']
        });

        window.feature.treeStore = Ext.create('Ext.data.TreeStore', {
            model: 'Outpost',
            autoLoad: false,
            root: {},
            proxy: {
                type: 'ajax',
                url: '@Url.RouteUrl(StockAdministrationAreaRegistration.DEFAULT_ROUTE, new { controller = "OutpostStockLevel", action = "GetData" })'
            }
        });
        window.feature.treeStore.load();
        
        window.feature.treegrid = Ext.create('Ext.tree.Panel', {
            title: 'Outpost Stock Level',
            width: 1300,
            height: 600,
            collapsible: true,
            useArrows: true,
            rootVisible: false,
            root: {},
            store: window.feature.treeStore,
            multiSelect: true,
            singleExpand: true,
            columns: [{
                xtype: 'treecolumn',
                text: 'Product',
                flex: 2,
                sortable: true,
                dataIndex: 'text'
            }, {
                xtype: 'templatecolumn',
                text: 'ProductGroupName',
                flex: 1,
                sortable: true,
                dataIndex: 'duration',
                align: 'center',
                //add in the custom tpl for the rows
                tpl:'{duration}'
            }]
        });
        window.feature.treegrid.getRootNode().expand();
        var contentRes = window.res.content;
        window.feature.CountryStore.load();

        var mainContent = Ext.getCmp(contentRes.maincontent.id);
        mainContent.add({
            xtype: 'container',
            margin: 20,
            id: 'TopContainer',
            border: '10 10 10 10',
            layout: {
                align: 'stretch',
                type: 'vbox'
            },
            items: [
                      {
                          xtype: 'container',
                          layout: {
                              type: 'column'
                          },
                          height: 50,
                          items: [{ xtype: 'container',
                              height: 30,
                              width: 30,
                              html: '&nbsp;'
                          }]
                      }, {
                          xtype: 'container',
                          layout: {
                              type: 'hbox'
                          },
                          height: 50,
                          items: [{ xtype: 'label',
                              text: 'Selected Country',
                              margin: '0 0 0 40'
                          }, { xtype: 'label',
                              text: 'Selected Region',
                              margin: '0 0 0 120'
                          }, { xtype: 'label',
                              text: 'Selected District',
                              margin: '0 0 0 150'
                          }, { xtype: 'label',
                              text: 'Selected Outpost',
                              margin: '0 0 0 140'
                          }]
                      }, {
                          xtype: 'container',
                          layout: {
                              type: 'hbox'
                          },
                          height: 50,
                          width: 950,
                          items: [window.feature.comboBoxCountries,
                                   window.feature.comboBoxRegions,
                                   window.feature.comboBoxDistricts,
                                   window.feature.comboBoxOutposts,
                                   {
                                       xtype: 'button',
                                       margin: '0 0 0 20',
                                       text: 'View Product Stock Level',
                                       width: 150,
                                       handler: function () {
                                           //                                  var productModal = new window.feature.modal();

                                           //                                  productModal.show();
                                       }
                                   }
                          ]
                      }, window.feature.treegrid
                    ]
        });

    });
</script>

@*
@section master_actions{
    @{
        Html.RenderPartial("~/Views/Shared/_OutpostManagementActions.cshtml");
    }
    @{ Html.RenderPartial("~/Views/Shared/_StockAdministrationActions.cshtml");}
}
@section master_content{
    <table>
        <thead>
            <tr>
                <th>
                    <label>
                        Country:</label>
                    <select name="@(Html.NameFor(m => m.Countries))" id="Countries">
                        <option value="@Guid.Empty">- Select a country - </option>
                        @{
                            foreach (var item in Model.Countries)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <label>
                        Region:</label>
                    <select name="@(Html.NameFor(m => m.Regions))" id="Regions">
                        @{
                            foreach (var item in Model.Regions)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <label>
                        District:</label>
                    <select name="@(Html.NameFor(m => m.Districts))" id="Districts">
                        @{
                            foreach (var item in Model.Districts)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <label>
                        Outpost:</label>
                    <select name="@(Html.NameFor(m => m.OutpostId))" id="Outposts">
                        @{
                            foreach (var item in Model.Outposts)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <button onclick="ViewStockButtonClicked()">
                        View product stock level</button>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <span>
        <button onclick="CurrentButtonClicked()">
            Current Product Stock Level</button>
        <button onclick="HistoricalButtonClicked()">
            Historical Product Stock Level</button></span>
   

       @{ Html.RenderPartial("OverviewItemsStockLevel", Model.OutpostList);   }        
    

        @{Html.RenderPartial("OverviewItemsStockLevelHistorical",Model.OutpostList);}
       
    
     
}
@section  scripts{
    <script type="text/javascript">
        var dropHistorical = $("#stocklevel-overview-historical");
        dropHistorical.html('');

        function ViewHistoricalStockLevelButtonClicked(id) {

            var selectedDistrictId = $("select[name='@Html.NameFor(m => m.Districts)']").val()
            var drop = $("#stocklevel-overview-historical")
            var dropCurrent = $("#stocklevel-overview")

            var urlOverview = '@Url.Action("OverviewItemsStockLevelHistorical", "OutpostStockLevel")?OutpostId=' + id + '&DistrictId=' + selectedDistrictId;
            $.get(urlOverview, function (data) {

                drop.html('')
                $('#stocklevel-overview-historical').html(data);
                dropCurrent.html('');

            });
        }
        function CurrentButtonClicked() {

            var outpost = document.getElementById("Outposts");
            var country = document.getElementById("Countries");
            var region = document.getElementById("Regions");
            var guidEmpty = "@Guid.Empty";

            if (country.options[country.selectedIndex].value == guidEmpty)
            { alert(" Please choose an option for each filter! "); }
            else {
                if (region.options[region.selectedIndex].value == guidEmpty) {
                    alert("Please choose an option for region,district and outpost too!");
                }
                else {
                    if ($("select[name='@Html.NameFor(m => m.Districts)']").val() == guidEmpty) {
                        alert("Please choose an option for district and outpost too!");
                    }
                    else {
                        var selectedOutpostId = outpost.options[outpost.selectedIndex].value;
                        var selectedDistrictId = $("select[name='@Html.NameFor(m => m.Districts)']").val()
                        var drop = $("#stocklevel-overview")

                        
                            var urlOverview = '@Url.Action("OverviewItemsStockLevel", "OutpostStockLevel")?OutpostId=' + selectedOutpostId + '&DistrictId=' + selectedDistrictId;
                            $.get(urlOverview, function (data) {

                                drop.html('');
                                $('#stocklevel-overview').html(data);
                                var dropHistorical = $("#stocklevel-overview-historical");
                                dropHistorical.html('');

                            });
                       }
                }
            }

        }

        function ViewStockButtonClicked() {

            var outpost = document.getElementById("Outposts");
            var country = document.getElementById("Countries");
            var region = document.getElementById("Regions");
            var guidEmpty = "@Guid.Empty";

            if (country.options[country.selectedIndex].value == guidEmpty)
            { alert(" Please choose an option for each filter! "); }
            else {
                if (region.options[region.selectedIndex].value == guidEmpty) {
                    alert("Please choose an option for region,district and outpost too!");
                }
                else {
                    if ($("select[name='@Html.NameFor(m => m.Districts)']").val() == guidEmpty) {
                        alert("Please choose an option for district and outpost too!");
                    }
                    else {
                        var selectedOutpostId = outpost.options[outpost.selectedIndex].value;
                        var selectedDistrictId = $("select[name='@Html.NameFor(m => m.Districts)']").val()
                        var drop = $("#stocklevel-overview")

                        if (drop.html().length > 0) {
                            var urlOverview = '@Url.Action("OverviewItemsStockLevel", "OutpostStockLevel")?OutpostId=' + selectedOutpostId + '&DistrictId=' + selectedDistrictId;
                            $.get(urlOverview, function (data) {

                                drop.html('');
                                $('#stocklevel-overview').html(data);
                                var dropHistorical = $("#stocklevel-overview-historical");
                                dropHistorical.html('');

                            });
                        }
                        else {
                            var dropHistorical = $("#stocklevel-overview-historical");
                            var urlOverview = '@Url.Action("OverviewItemsStockLevelHistorical", "OutpostStockLevel")?OutpostId=' + selectedOutpostId + '&DistrictId=' + selectedDistrictId;
                            $.get(urlOverview, function (data) {

                                dropHistorical.html('')
                                $('#stocklevel-overview-historical').html(data);
                                drop.html('');

                            });

                        }


                    }
                }
            }

        }  
        function HistoricalButtonClicked() {

            var outpost = document.getElementById("Outposts");
            var country = document.getElementById("Countries");
            var region = document.getElementById("Regions");
            var guidEmpty = "@Guid.Empty";
            if (country.options[country.selectedIndex].value == guidEmpty)
            { alert(" Please chose an option for each filter! "); }
            else {
                if (region.options[region.selectedIndex].value == guidEmpty) {
                    alert("Please chose an option for region,district and outpost too!");
                }
                else {
                    if ($("select[name='@Html.NameFor(m => m.Districts)']").val() == guidEmpty) {
                        alert("Please chose an option for district and outpost too!");
                    }
                    else {
                        var selectedOutpostId = outpost.options[outpost.selectedIndex].value;
                        var selectedDistrictId = $("select[name='@Html.NameFor(m => m.Districts)']").val()
                        var drop = $("#stocklevel-overview-historical")
                        var dropCurrent = $("#stocklevel-overview")

                        var urlOverview = '@Url.Action("OverviewItemsStockLevelHistorical", "OutpostStockLevel")?OutpostId=' + selectedOutpostId + '&DistrictId=' + selectedDistrictId;
                        $.get(urlOverview, function (data) {

                            drop.html('')
                            dropCurrent.html('');
                            $('#stocklevel-overview-historical').html(data);

                        });

                    }
                }
            }

        }
        $("select[name='@Html.NameFor(m => m.Countries)']").change(function () {
            var e = $(this)[0];
            var selectedCountryId = e.options[e.selectedIndex].value;


            $.getJSON('@Url.Action("GetRegionsForCountry", "OutpostStockLevel")?countryId=' + selectedCountryId, function (data) {

                var drop = $("#Regions")
                drop.html('')


                var drop = $("#Districts")
                drop.html('')

                var drop = $("#Outposts")
                drop.html('')

                var ddlRegions = document.getElementById("Regions");
                var opt = document.createElement("option");
                opt.text = 'Please select a region';
                opt.value = '@Guid.Empty.ToString()';
                ddlRegions.options.add(opt);

                $.each(data, function () {

                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    ddlRegions.options.add(opt);
                });

            });

            $("select[name='@Html.NameFor(m => m.Countries)'] option[value='@Guid.Empty.ToString()']").remove();

        });

        $("select[name='@Html.NameFor(m => m.Regions)']").change(function () {

            var e = $(this)[0];
            var selectedRegionId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetDistrictsForRegion", "OutpostStockLevel")?regionId=' + selectedRegionId, function (data) {
                var drop = $("#Districts")
                drop.html('')

                var drop = $("#Outposts")
                drop.html('')

                var ddlRegions = document.getElementById("Districts");
                var opt = document.createElement("option");
                opt.text = 'Please select a district';
                opt.value = '@Guid.Empty.ToString()';
                ddlRegions.options.add(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    ddlRegions.options.add(opt);
                });

            });

            $("select[name='@Html.NameFor(m => m.Regions)'] option[value='@Guid.Empty.ToString()']").remove();
        });

        $("select[name='@Html.NameFor(m => m.Districts)']").change(function () {

            var e = $(this)[0];
            var selectedDistrictId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetOutpostsForDistrict", "OutpostStockLevel")?districtId=' + selectedDistrictId, function (data) {
                var drop = $("#Outposts")
                drop.html('')

                var ddlOutposts = document.getElementById("Outposts");
                var opt = document.createElement("option");
                opt.text = 'Please chose a option';
                opt.value = '@Guid.Empty.ToString()';

                ddlOutposts.options.add(opt);

                opt.text = 'All';
                opt.value = '00000000-0000-0000-0000-000000000001';

                ddlOutposts.options.add(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    ddlOutposts.options.add(opt);
                });

            });

            $("select[name='@Html.NameFor(m => m.Districts)'] option[value='@Guid.Empty.ToString()']").remove();

        });

        $("select[name='@Html.NameFor(m => m.OutpostId)']").change(function () {
            $("select[name='@Html.NameFor(m => m.OutpostId)'] option[value='@Guid.Empty.ToString()']").remove();

        });
    </script>
}
*@