@model Web.Areas.StockAdministration.Models.OutpostStockLevel.OutpostStockLevelOverviewModel
@section page_title{
Stock Item: Overview
}
@section master_actions{
    @{
        Html.RenderPartial("~/Views/Shared/_OutpostManagementActions.cshtml");
    }
    @{ Html.RenderPartial("~/Views/Shared/_StockAdministrationActions.cshtml");}
}
@section master_content{
    <table>
        <thead>
            <tr>
                <th>
                    <label>
                        Country:</label>
                    <select name="@(Html.NameFor(m => m.Countries))">
                        <option value="@Guid.Empty">- Select a country - </option>
                        @{
                            foreach (var item in Model.Countries)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <label>
                        Region:</label>
                    <select name="@(Html.NameFor(m => m.Regions))" id="Regions">
                       @{
                            foreach (var item in Model.Regions)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <label>
                        District:</label>
                    <select name="@(Html.NameFor(m => m.Districts))" id="Districts">
                        @{
                            foreach (var item in Model.Districts)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <label>
                        Outpost:</label>
                    <select name="@(Html.NameFor(m => m.OutpostId))" id="Outposts">
                     @{
                            foreach (var item in Model.Outposts)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <button onclick="ViewStockButtonClicked()">View product stock level</button>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    @{Html.RenderPartial("OverviewItemsStockLevel", Model.OutpostList);
    }
}
@section  scripts{
    <script type="text/javascript">

        function ViewStockButtonClicked() {

            var outpost = document.getElementById("Outposts");
            var selectedOutpostId = outpost.options[outpost.selectedIndex].value;
            var selectedDistrictId = $("select[name='@Html.NameFor(m => m.Districts)']").val()
            var drop = $("#stocklevel-overview")
            debugger;
            var urlOverview = '@Url.Action("OverviewItemsStockLevel","OutpostStockLevel")?OutpostId=' + selectedOutpostId  + '&DistrictId=' + selectedDistrictId;
            $.get(urlOverview, function (data) {

                drop.html('')

                $('#stocklevel-overview').html(data);
                debugger;
            });

        }

        $("select[name='@Html.NameFor(m => m.Countries)']").change(function () {
            var e = $(this)[0];
            var selectedCountryId = e.options[e.selectedIndex].value;

           
            $.getJSON('@Url.Action("GetRegionsForCountry", "OutpostStockLevel")?countryId=' + selectedCountryId, function (data) {

                var drop = $("#Regions")
                drop.html('')

                debugger;
                var drop = $("#Districts")
                drop.html('')

                var drop = $("#Outposts")
                drop.html('')

                var ddlRegions = document.getElementById("Regions");
                var opt = document.createElement("option");
                opt.text = 'Please select a region';
                opt.value = '@Guid.Empty.ToString()';
                ddlRegions.options.add(opt);

                $.each(data, function () {

                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    ddlRegions.options.add(opt);
                });

            });

            $("select[name='@Html.NameFor(m => m.Countries)'] option[value='@Guid.Empty.ToString()']").remove();

        });

        $("select[name='@Html.NameFor(m => m.Regions)']").change(function () {

            var e = $(this)[0];
            var selectedRegionId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetDistrictsForRegion", "OutpostStockLevel")?regionId=' + selectedRegionId, function (data) {
                var drop = $("#Districts")
                drop.html('')

                var drop = $("#Outposts")
                drop.html('')

                var ddlRegions = document.getElementById("Districts");
                var opt = document.createElement("option");
                opt.text = 'Please select a district';
                opt.value = '@Guid.Empty.ToString()';
                ddlRegions.options.add(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    ddlRegions.options.add(opt);
                });

            });

            $("select[name='@Html.NameFor(m => m.Regions)'] option[value='@Guid.Empty.ToString()']").remove();
        });

        $("select[name='@Html.NameFor(m => m.Districts)']").change(function () {

            var e = $(this)[0];
            var selectedDistrictId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetOutpostsForDistrict", "OutpostStockLevel")?districtId=' + selectedDistrictId, function (data) {
                var drop = $("#Outposts")
                drop.html('')

                var ddlOutposts = document.getElementById("Outposts");
                var opt = document.createElement("option");
                opt.text = 'Please chose a option';
                opt.value = '@Guid.Empty.ToString()';

                ddlOutposts.options.add(opt);

                opt.text = 'All';
                opt.value = '00000000-0000-0000-0000-000000000001';

                ddlOutposts.options.add(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    ddlOutposts.options.add(opt);
                });

            });

            $("select[name='@Html.NameFor(m => m.Districts)'] option[value='@Guid.Empty.ToString()']").remove();

        });

        $("select[name='@Html.NameFor(m => m.OutpostId)']").change(function () {
            $("select[name='@Html.NameFor(m => m.OutpostId)'] option[value='@Guid.Empty.ToString()']").remove();

        });
    </script>
}
