@model Web.Areas.StockAdministration.Models.OutpostStockLevel.ProductGroupOverviewModel
@{bool AreCommingFromFilterByAll = Model.AreCommingFromFilterByAll;}
@section page_title{
Stock Item: Overview
}
@section master_content{
    <div style="display: none">
        @Html.HiddenFor(m => m.OutpostId)
        @Html.HiddenFor(m => m.CountryId)
        @Html.HiddenFor(m => m.RegionId)
        @Html.HiddenFor(m => m.DistrictId)
        @Html.HiddenFor(m => m.AreCommingFromFilterByAll)
    </div>
    <div id="stocklevel-overview">
        <div class="row of-2">
            <div class="column">
                Outpost Name : <u>@Model.OutpostName</u></div>
            <div class="column">
                Product Group: <u>@Model.ProductGroupName</u></div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        SMS Reference Code
                    </th>
                    <th>
                        Product Stock Level
                    </th>
                    <th>
                        Last Update
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var itemNo = 0;
                }
                @foreach (var product in Model.Products)
                {
                    var _class = (itemNo % 2 == 0) ? "odd" : "even";    
                    <tr class="@_class">
                        <td>@(Html.ActionLink<OutpostStockLevelController>(it => it.EditHistoricalProductLevel(product.OutpostStockLevelId, Model.AreCommingFromFilterByAll), @product.Name, StockAdministrationAreaRegistration.DEFAULT_ROUTE))
                        </td>
                        <td>@product.SMSReferenceCode
                        </td>
                        <td>
                            @product.StockLevel
                        </td>
                        <td>
                            @product.LastUpdateAt
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
        <a href="@(Html.BuildUrlFromExpression<OutpostStockLevelController>(it => it.Overview(Model.CountryId, Model.RegionId, Model.DistrictId, Model.OutpostId, AreCommingFromFilterByAll))))">
            Cancel</a>
    </div>
}
