@model Web.Areas.OutpostManagement.Models.Outpost.OutpostOutputModel
           
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration")/ @(Html.ActionLink<OutpostController>(it => it.Overview(), "Outposts", OutpostManagementAreaRegistration.DEFAULT_ROUTE)) > Create
}
 
@section page_title{
OutpostManagement : Outpost : Create 
}
@section title_bar{
    }

@section master_content{
    @*<form class="main-form" method="post"  id="llll"> *@
    <form method="post" 
          action="@(Url.RouteUrl<OutpostController>(it => it.Create(), OutpostManagementAreaRegistration.DEFAULT_ROUTE))"> 
      @Html.ValidationSummary()
     @{
       
        Html.RenderPartial("OutpostInput", Model);
    }

     @(Html.FormButtons<OutpostController>(it => it.Overview(), OutpostManagementAreaRegistration.DEFAULT_ROUTE))
   
  
    </form>
}
@section scripts{

 <script type="text/javascript">
     $("select[name='@Html.NameFor(m=>m.Country.Id)']").change(function () {

         var e = $(this)[0];
         var selectedCountryId = e.options[e.selectedIndex].value;

         $.getJSON('@Url.Action("GetRegionsForCountry", "District")?countryId=' + selectedCountryId, function (data) {
             var drop = $("select[name='@Html.NameFor(m=>m.Region.Id)']")
             drop.html('')

             var opt = document.createElement("option");
             opt.text = "- Select Region -";
             opt.value = '@Guid.Empty.ToString("n")';

             drop.append(opt);

             $.each(data, function () {
                 var opt = document.createElement("option");
                 opt.text = this['Text'];
                 opt.value = this['Value'];

                 drop.append(opt);
             });

         });

     });


     $("select[name='@Html.NameFor(m=>m.Region.Id)']").change(function () {

         var e = $(this)[0];
         var selectedCountryId = e.options[e.selectedIndex].value;

         $.getJSON('@Url.Action("GetDistrictsForRegionData", "Outpost")?regionId=' + selectedCountryId, function (data) {
             var drop = $("select[name='@Html.NameFor(m=>m.District.Id)']")
             drop.html('')

             var opt = document.createElement("option");
             opt.text = "- Select District -";
             opt.value = '@Guid.Empty.ToString("n")';

             drop.append(opt);

             $.each(data, function () {
                 var opt = document.createElement("option");
                 opt.text = this['Text'];
                 opt.value = this['Value'];

                 drop.append(opt);
             });

         });

     });
    
    </script>
}
