@using Web.Areas.OutpostManagement.Models.Outpost

@model OutpostOutputModel
           
           
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration") / @(Html.ActionLink<OutpostController>(act => act.Overview(null, null, null), "Outposts Overview", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
> Create
}

@section page_title{
Outpost : Create
}

@section title_bar{
}
@section master_content{

    @{Html.BeginForm<OutpostController>(r => r.Create());}
        <fieldset class="fieldsCollection ">
            @{
                Html.RenderPartial("OutpostInput", Model);     
            }
        </fieldset>
        @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<OutpostController>(it => it.Overview(null, null, null)))">
            Cancel</a>
    @{Html.EndForm();}
    <div>&nbsp;</div>
}

@section scripts{
<script type="text/javascript">

        $("select[name='@Html.NameFor(m => m.Region.CountryId)']").change(function () {
            var e = $(this)[0];
            var selectedCountryId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetRegionsForCountry", "District")?countryId=' + selectedCountryId, function (data) {
                var drop = $("select[name='@Html.NameFor(m => m.Region.Id)']")
                drop.html('')
                var opt = document.createElement("option");
                opt.text = "- Select Region -";
                opt.value = '@Guid.Empty.ToString("n")';

                drop.append(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    drop.append(opt);
                });


            });

            $("select[name='@Html.NameFor(m => m.Region.CountryId)'] option[value='@Guid.Empty.ToString()']").remove();
        });

        $("select[name='@Html.NameFor(m => m.District.Id)']").change(function () {
            $("select[name='@Html.NameFor(m => m.District.Id)'] option[value='@Guid.Empty.ToString("n")']").remove();
        });  


        $("select[name='@Html.NameFor(m => m.Region.Id)']").change(function () {
            var e = $(this)[0];
            var selectedRegionId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetDistrictsForRegion", "Outpost")?regionId=' + selectedRegionId, function (data) {
                var drop = $("select[name='@Html.NameFor(m => m.District.Id)']")
                drop.html('')
                var opt = document.createElement("option");
                opt.text = "- Select District -";
                opt.value = '@Guid.Empty.ToString("n")';

                drop.append(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    drop.append(opt);
                });


            });

            $("select[name='@Html.NameFor(m => m.Region.Id)'] option[value='@Guid.Empty.ToString()']").remove();
        });

        $("select[name='@Html.NameFor(m => m.District.Id)']").change(function () {
            $("select[name='@Html.NameFor(m => m.District.Id)'] option[value='@Guid.Empty.ToString("n")']").remove();
        });  

    
     </script>
}
