@model Web.Areas.OutpostManagement.Models.Outpost.OutpostModel
           
@section breadcrumbs{
    @Url.HomeLink("Overview")/ @(Html.ActionLink<CountryController>(it => it.Overview(), "Outpost Management : Outposts", OutpostManagementAreaRegistration.DEFAULT_ROUTE)) > Create
}
 
@section page_title{
OutpostManagement : Outpost : Create 
}
@section title_bar{
    <h4>
        Create Outpost</h4>
}

@section master_content{
    @*<form class="main-form" method="post"  id="llll"> *@
    <form method="post" 
          action="@(Url.RouteUrl<OutpostController>(it => it.Create(), OutpostManagementAreaRegistration.DEFAULT_ROUTE))"> 
      @Html.ValidationSummary()
     @{
       
        Html.RenderPartial("OutpostInput", Model);
    }

     @(Html.FormButtons<OutpostController>(it => it.Overview(), OutpostManagementAreaRegistration.DEFAULT_ROUTE))
   
  
    </form>
}
@section scripts{

        
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
        });     

    </script>

}
