@model Web.Areas.OutpostManagement.Models.Outpost.OutpostOutputModel
           
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration")/ @(Html.ActionLink<OutpostController>(it => it.Overview(), "Outposts", OutpostManagementAreaRegistration.DEFAULT_ROUTE)) > Create
}
 
@section page_title{
}

@section title_bar{
}

@section master_content{

    <form method="post" 
          action="@(Url.RouteUrl<OutpostController>(it => it.Create(), OutpostManagementAreaRegistration.DEFAULT_ROUTE))"> 
      @Html.ValidationSummary()
     @{
       
        Html.RenderPartial("OutpostInput", Model);
    }

     @(Html.FormButtons<OutpostController>(it => it.Overview(), OutpostManagementAreaRegistration.DEFAULT_ROUTE))
  
    </form>
}
@section scripts{
}
