@model Web.Areas.OutpostManagement.Models.Outpost.OutpostOutputModel

           
@section breadcrumbs{
   @Url.HomeLink("Outpost Administration")/ @(Html.ActionLink<OutpostController>(it => it.OverviewItem(Model.Id), "Outposts", OutpostManagementAreaRegistration.DEFAULT_ROUTE))  > Edit
}
@section page_title{

}
@section title_bar{
 
}

@section master_content{
    @{Html.BeginForm();}
   <div style="display: none">
@Html.HiddenFor(m => m.Client.Id)
</div>
            <fieldset class="fieldsCollection ">
                @{
                    Html.RenderPartial("OutpostInput", Model);     
                }
            </fieldset>
            @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<OutpostController>(it => it.OverviewItem( @Model.Id)))">
                    Cancel</a>
     
    @{Html.EndForm();}
}


@section master_actions{
    @*<h3>
        Actions</h3>
    <div class="page_header_buttons">*@

        @*
         <div style="margin:50px 0px 5px 0px"> 
            @(Html.DeleteButton<OutpostController>(it => it.Delete(Model.Id), OutpostManagementAreaRegistration.DEFAULT_ROUTE))
        </div>
        *@     
    
}
@section scripts{

        
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
        });     

    </script>
 
}