 

@model  Web.Areas.OutpostManagement.Models.Outpost.OutpostOutputModel

           
@section breadcrumbs{
    @Url.HomeLink("Outpost Administration") / @(Html.ActionLink<OutpostController>(act => act.Overview(@Model.Region.CountryId, @Model.Region.Id , @Model.District.Id), "Outposts Overview", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    > Edit Outpost : @Model.Name}
@section page_title{

}
@section title_bar{
 
}

@section master_content{
    @{Html.BeginForm();}
   <div style="display: none">

    </div>

          <div>
            <fieldset class="fieldsCollection ">
                @{
                    Html.RenderPartial("EditOutpostInput", Model);     
                }
            </fieldset>

            &nbsp;
                  @Html.SubmitButton("submit-form", "Save") <span>or </span>
                 <a href="@(Html.BuildUrlFromExpression<OutpostController>(it => it.Overview(@Model.Region.CountryId, @Model.Region.Id, @Model.District.Id)))">
                        Cancel</a>
            &nbsp;
         </div>
         <div>
                <fieldset class="fieldsContacts ">
                    @{
                        Html.RenderPartial("OverviewContacts", Model);     
                    }
                </fieldset>
         </div>
   
    @{Html.EndForm();}
}


@section master_actions{
    @*<h3>
        Actions</h3>
    <div class="page_header_buttons">*@

        @*
         <div style="margin:50px 0px 5px 0px"> 
            @(Html.DeleteButton<OutpostController>(it => it.Delete(Model.Id), OutpostManagementAreaRegistration.DEFAULT_ROUTE))
        </div>
        *@     
    
}
@section scripts{
    <script type="text/javascript">


        $("select[name='@Html.NameFor(m => m.Region.CountryId)']").change(function () {
            var e = $(this)[0];
            var selectedCountryId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetRegionsForCountry", "District")?countryId=' + selectedCountryId, function (data) {
                var drop = $("select[name='@Html.NameFor(m => m.Region.Id)']")
                drop.html('')
                var opt = document.createElement("option");
                opt.text = "- Select Region -";
                opt.value = '@Guid.Empty.ToString("n")';

                drop.append(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    drop.append(opt);
                });


            });

            $("select[name='@Html.NameFor(m => m.Region.CountryId)'] option[value='@Guid.Empty.ToString()']").remove();
        });

        $("select[name='@Html.NameFor(m => m.District.Id)']").change(function () {
            $("select[name='@Html.NameFor(m => m.District.Id)'] option[value='@Guid.Empty.ToString("n")']").remove();
        });  


        $("select[name='@Html.NameFor(m => m.Region.Id)']").change(function () {
            var e = $(this)[0];
            var selectedRegionId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetDistrictsForRegion", "Outpost")?regionId=' + selectedRegionId, function (data) {
                var drop = $("select[name='@Html.NameFor(m => m.District.Id)']")
                drop.html('')
                var opt = document.createElement("option");
                opt.text = "- Select District -";
                opt.value = '@Guid.Empty.ToString("n")';

                drop.append(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];
                    drop.append(opt);
                });


            });

            $("select[name='@Html.NameFor(m => m.Region.Id)'] option[value='@Guid.Empty.ToString()']").remove();
        });

        $("select[name='@Html.NameFor(m => m.District.Id)']").change(function () {
            $("select[name='@Html.NameFor(m => m.District.Id)'] option[value='@Guid.Empty.ToString("n")']").remove();
        });  

    $(function () {

        // Add onclick handler to checkbox w/id checkme
        $("input[type='checkbox']").click(function () {
            var phoneId = $(this).attr('name');

            // If checked
            if ($(this).is(":checked")) {
                window.uncheckAllExcept(phoneId);
                $.getJSON('@Url.Action("SetCheckContactMainMethod", "Contact")?phoneId=' + phoneId);
            }
            else {
                $.getJSON('@Url.Action("SetUncheckContactMainMethod", "Contact")?phoneId=' + phoneId);
            }

        });
    });

       
        $(function() {
            $('#ListOfWarehouses').change(function() {
                var e = $(this)[0];
                var selectedWarehouseId = e.options[e.selectedIndex].value;
                debugger;
                var ccc = $(this)[0][parentElement];
                var selectedOutpostId = ccc.options[defaultValue];
                debugger;

                $.getJSON('@Url.Action("SetWarehouse", "Outpost")?outpostId=' + selectedOutpostId + ', warehouseId=' + selectedWarehouseId, function(data) {

                    $.each(data, function() {
                        var opt = document.createElement("option");
                        opt.text = this['Text'];
                        opt.value = this['Value'];
                    });

                });
            });
        });

    function uncheckAllExcept(phoneId) {
        $("input[type='checkbox']").each(function (idx, val) {
            var el = $(val);
            if (el.attr('name') !== phoneId) {
                el.attr('checked', false);
                el.attr('value', false);
            }

        });
    }

    $(function () {
        $(".delete-user-form").submit(function () {
            return confirm('Are you sure that you want to delete this Contact?');
        });
    });

    </script>
}