@model Web.Areas.OutpostManagement.Models.Outpost.OutpostOutputModel      
<div class="row">
    @Html.ValidationSummary()
</div>
@{ var id = new Guid();}
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Warehouses)
<fieldset id="fieldsetInformation">
    <legend>Outpost Information</legend>
    <div class="row">
        <thead>
            <tr>
                <th>
                    <label>
                        Country:</label>
                    <select name="@(Html.NameFor(m => m.Countries))">
                        <option value="@Guid.Empty">- Select a country - </option>
                        @{
                            foreach (var item in Model.Countries)
                            {
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                            }
                        }
                    </select>
                </th>
                <th>
                    <label>
                        Region:</label>
                    @Html.DropDownList("Regions", Model.Regions, new { onChange = "onRegionChanged()" })
                </th>
                <th>
                    <label>
                        District:</label>
                    @Html.DropDownList("Districts", Model.Districts, new { onChange = "onDistrictChanged()" })
                </th>
                    <input type="text" id="outpostSearch" class="input" name="outpostSearch" maxlength="50"
                        placeholder="Outposts search" style="width: 200px; height: 30px; margin-left: 0px" />
        </thead>
        <div class="row ">
            <div class="column">
                <label for="NameD">
                    Name
                </label>
                @Html.TextBoxFor(m => m.Name, new { maxlength = 50 })
            </div>
        </div>
        <div class="row ">
            <div class="column">
                <label for="Name">
                    Coordinates</label>
                @Html.Button("select-coordinates", "Map", HtmlButtonType.Button)
            </div>
        </div>
        <div>
            <span class='info'>Please use the map button in order to select the Outpost's position.After
                your confirmation the outpost's coordinates will be automatically filled in.</span>
        </div>
        <div>
            &nbsp;</div>
        <div>
        </div>
        <div class="row of-2">
            <div class="column">
                <label for="Longitude">
                    Longitude
                </label>
                @Html.TextBoxFor(m => m.Longitude, new { maxlength = 20 })
            </div>
            <div class="column">
                <label for="Latitude">
                    Latitude
                </label>
                @Html.TextBoxFor(m => m.Latitude, new { maxlength = 20 })
            </div>
            <div class="column">
                <label for="IsWarehouse">
                    Is this outpost a warehouse ?
                </label>
                @Html.DropDownListFor(m => m.IsWarehouse, new SelectListItem[]{
                        new SelectListItem{Text="No", Value="false"},
                        new SelectListItem{Text="Yes", Value="true"}
                       })
            </div>
            <div class="column">
                @if (!Model.IsWarehouse)
                {
                    <label for="Warehouses">
                        If no, please select a warehouse from the list
                    </label>            
                    @Html.DropDownList("Warehouse.Id", Model.Warehouses)
                }
            </div>
        </div>
    </div>
</fieldset>
@section scripts{
    <script type="text/javascript">

    </script>
}
