@model Web.Areas.OutpostManagement.Models.Outpost.OutpostOutputModel

           
@section breadcrumbs{
   @Url.HomeLink("Outpost Administration")/ @(Html.ActionLink<OutpostController>(it => it.Overview(), "Outposts", OutpostManagementAreaRegistration.DEFAULT_ROUTE))  > Edit
}
@section page_title{

}
@section title_bar{
 
}

@section master_content{
    <form class="main-form" 
          method="post" 
          action="">
     @Html.ValidationSummary()
     @Html.HiddenFor(m => m.Id)    @{
        Html.RenderPartial("OutpostInput", @Model);
        
    }

    @(Html.FormButtons<OutpostController>(it => it.Overview(), OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </form>
}

@section master_actions{
    @*<h3>
        Actions</h3>
    <div class="page_header_buttons">*@

        @*
         <div style="margin:50px 0px 5px 0px"> 
            @(Html.DeleteButton<OutpostController>(it => it.Delete(Model.Id), OutpostManagementAreaRegistration.DEFAULT_ROUTE))
        </div>
        *@     
    
}
@section scripts{

        
    <script type="text/javascript">
        $(function () {
            $(".chzn-select").chosen();
        });     

    </script>
 
}