@model Web.Areas.OutpostManagement.Models.Outpost.OutpostOutputModel      
<div class="row">
    @Html.ValidationSummary()
</div>
        <label for="Name"> Country </label>
         <div class="row">
          <select name="@Html.NameFor(m => m.Region.CountryId)">
                <option value="@Guid.Empty.ToString()"> - Select Country - </option>
                @foreach (var item in Model.Countries)
                { 
                    <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                }
            </select>

        </div>

       <label for="Name"> Region </label>
      <div class="row">
        <select name="@Html.NameFor(m => m.Region.Id)">
        @if (Model.Regions.Count > 0)
        {
            <option value="@Guid.Empty.ToString()"> - Select Region - </option>
                foreach (var item in Model.Regions)
                { 
                    <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                }

        }
        </select>
        </div>
       
       
        <label for="Name"> District </label>
         <div class="row">
        <select name="@Html.NameFor(m => m.District.Id)">
        @if (Model.Districts.Count > 0)
        {
            <option value="@Guid.Empty.ToString()"> - Select District - </option>
                foreach (var item in Model.Districts)
                { 
                    <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                }

        }
        </select>
        </div>

        <div class="row">
            <label for="Name"> Outpost Name<text class="required-text">*</text>:</label>
                @Html.TextBoxFor(m => m.Name, new { maxlength = 250, autofocus = "autofocus", placeholder = "Outpost Name" })
                 @Html.HiddenFor(m => m.Id)
        
          </div>
        
         
            <div class="row ">
                <div class="column">
                    <label for="Name">
                        Coordinates</label>
                    @Html.Button("select-coordinates", "Map", HtmlButtonType.Button)
                </div>
            </div>
            <div>
                <span class='info'>Please use the map button in order to select the Outpost's position.After
                    your confirmation the outpost's coordinates will be automatically filled in.</span>
            </div>
            <div>
                &nbsp;</div>

            <div class="row of-2">
                <div class="column">
                    <label for="Longitude">
                        Longitude
                    </label>
                    @Html.TextBoxFor(m => m.Longitude, new { maxlength = 20 })
                </div>
                <div class="column">
                    <label for="Latitude">
                        Latitude
                    </label>
                    @Html.TextBoxFor(m => m.Latitude, new { maxlength = 20 })
                </div>
                <div class="column">
                    <label for="Warehouse">
                        Is this outpost a warehouse ?
                    </label>
                    @Html.DropDownListFor(m => m.IsWarehouse, new SelectListItem[]{
                        new SelectListItem{Text="No", Value="false"},
                        new SelectListItem{Text="Yes", Value="true"}
                       })
                </div>
                <div class="column">
                <label for="Warehouses">
                    If no, please select a warehouse from the list
                </label>     
                @if (Model.Warehouses != null)
                {   
                    @Html.DropDownList("Warehouse.Id", Model.Warehouses)
                }
                </div>
            </div>
   
 

