@using Web.Areas.OutpostManagement.Models.Outpost

@model List<OutpostModel>
           
 <div id="outpost-overview">          

        <table id="Outposts">
            <thead>
                <tr>
@*                    <th>
                        Contacts
                    </th>
*@
                    <th  class="sort-alpha">
                        Outpost Name
                    </th>
                    <th>
                        Contact Method
                   </th>
                   <th>
                        Latitude
                    </th>
                    <th>
                        Longitude
                    </th>
                    <th>
                    </th>
                    <th colspan="2" align="center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var itemNo = 0;
                }
                @foreach (var outpost in Model)
                {
                    var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
                    <tr>
                         @*<td>
                           @(Html.ActionLink<ContactController>(it => it.Overview(outpost.Id), "Contacts", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                        </td>
                        *@
                        <td>
                        @(Html.ActionLink<StockLevelController>(it => it.OutpostStockLevelOverview(outpost.Id), @outpost.Name, OutpostManagementAreaRegistration.DEFAULT_ROUTE))

                        
                        </td>
                        <td>@outpost.DetailMethod
                        </td>
                        <td>@outpost.Latitude
                        </td>
                        <td>@outpost.Longitude
                        </td>
                        <td>
                        @(Html.ActionLink<OutpostController>(call => call.Edit(outpost.Id), "Edit", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                        </td>
                        <td>                   
                            @{Html.BeginForm<OutpostController>(m => m.Delete(outpost.Id), FormMethod.Post, new { @class = "delete-user-form" });}
                            @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                            @{Html.EndForm();}
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>

@section scripts{
    <script type="text/javascript">

     $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Outpost?');
            });

        });





     </script>

}