@using Web.Areas.OutpostManagement.Models.Outpost

@model OutpostOverviewModel
           
@section page_title{
OutpostManagement Outposts: Overview
}
@section title_bar{
}
@section breadcrumbs{
   @Url.HomeLink("Outpost Administration") > Outposts
   }

@section master_content{

    @if (Model.Error != null)
    {
        <div class="error">
            @Model.Error
        </div>
        
    }

    <div class="page_header_buttons">
        @(Html.ActionLink<OutpostController>(it => it.Create(), "Create Outpost", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </div>

    <br />
    <div>
    <table class="searchable">
        <thead>
            <tr>
                <th>
                    <label for="@Html.NameFor(m => m.Country.Id)">
                        Country</label>
                    <select name="@Html.NameFor(m => m.Country.Id)">
                        <option value="@Guid.Empty.ToString()">- Select Country - </option>
                        @foreach (var item in Model.Countries)
                        { 
                            <option value="@item.Value" @(item.Selected ? @"selected='selected'" : @"") >@item.Text</option>
                        }
                    </select>
                   </th>
                <th>
                 <label for="@Html.NameFor(m => m.Region.Id)">
                    Region</label>
                <select name="@Html.NameFor(m => m.Region.Id)">
                </select>
                </th>
                <th>
                     <label for="@Html.NameFor(m => m.District.Id)">
                        District</label>
                    <select name="@Html.NameFor(m => m.District.Id)">
                    </select>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>

    @{
        Html.RenderPartial("OverviewOutpost", Model.Outposts);
    }
}

@section master_actions{
    @{
        Html.RenderPartial("~/Views/Shared/_OutpostManagementActions.cshtml");
    }
}


@section scripts{
    <script type="text/javascript">
        $("select[name='@Html.NameFor(m => m.Country.Id)']").change(function () {

            var e = $(this)[0];
            var selectedCountryId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetRegionsForCountry", "District")?countryId=' + selectedCountryId, function (data) {
                var drop = $("select[name='@Html.NameFor(m => m.Region.Id)']")
                drop.html('')

                var opt = document.createElement("option");
                opt.text = "- Select Region -";
                opt.value = '@Guid.Empty.ToString("n")';

                drop.append(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];

                    drop.append(opt);
                });

            });

            $("select[name='@Html.NameFor(m => m.Region.CountryId)'] option[value='@Guid.Empty.ToString()']").remove();
        });


        $("select[name='@Html.NameFor(m => m.Region.Id)']").change(function () {

            var e = $(this)[0];
            var selectedRegionId = e.options[e.selectedIndex].value;

            $.getJSON('@Url.Action("GetDistrictsForRegion", "Outpost")?regionId=' + selectedRegionId, function (data) {
                var drop = $("select[name='@Html.NameFor(m => m.District.Id)']")
                drop.html('')

                var opt = document.createElement("option");
                opt.text = "- Select District -";
                opt.value = '@Guid.Empty.ToString("n")';

                drop.append(opt);

                $.each(data, function () {
                    var opt = document.createElement("option");
                    opt.text = this['Text'];
                    opt.value = this['Value'];

                    drop.append(opt);
                });

                //$("select[name='@Html.NameFor(m => m.District.Id)'] option[value='@Guid.Empty.ToString()']").remove().change(onDistrictChanged); ;
                $("select[name='@Html.NameFor(m=>m.District.Id)']").change(onDistrictChanged);

            });

        });

        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Outpost?')
            });


        });


        function onDistrictChanged() {

            var e = $(this)[0];
            var selectedDistrictId = e.options[e.selectedIndex].value;

            var drop = $("#outpost-overview")

            var urlOverview = '@Url.Action("OverviewOutpost")?districtId=' + selectedDistrictId;
            $.get(urlOverview, function (data) {

                drop.html('')

                $('#outpost-overview').html(data);
            });


        }           
</script>


     