@model Web.Areas.OutpostManagement.Models.Outpost.Overview
           
@section page_title{
OutpostManagement Outposts: Overview
}
@section title_bar{
    <h4>
        OutpostManagement : Outpost</h4>
}
@section breadcrumbs{
   @Url.HomeLink("Overview") > OutpostManagement : Outposts
}
 
        

@section master_content{

     <form action="" id=formZone method="post" onclick=>
         <tr>
             <td> Countries
             </td>
             <td> Regions
             </td>
             <td> Districts
             </td>
           </tr>
       <table class="searchable">
       <tr>

              <td>
                <select id="countryID" name="CountriesDropDownList">    
                   <option value= "">-- Select a Country --</option>     
                   @foreach(Domain.Country countryName in Model.Countries) 
                   {
                      <option> @countryName.Name  </option>
                   } 
                    </select>
              </td>
              <td>

             <td>
                <select id="regionID" name="RegionsDropDownList">    
                   <option value= "">-- Select a Region --</option>     
                   @foreach(Domain.Region regionName in Model.Regions) 
                   {
                      <option> @regionName.Name  </option>
                   } 
                    </select>
              </td>
               </td>
 
             <td>
               <select id="districtID" name="DistrictsDropDownList">    
                   <option value= "">-- Select a Region --</option>     
                   @foreach(Domain.District districtName in Model.Districts) 
                   {
                      <option> @districtName.Name  </option>
                   } 
                    </select>
               </td>
        </tr>
        </table>
        </form>

    <table class="searchable">
        <thead>
            <tr>
                <th>
                    #
                </th>
               <th>
                    Outpost Name
                </th>
                 <th>
                    Mobile Phone Number
                </th>
                 <th>
                    E-mail address
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitude
                </th>
                 <th>
                   
                </th>
               <th>
                   Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var itemNo = 0;
            }
 

            @foreach (Web.Areas.OutpostManagement.Models.Outpost.OutpostModel outpost in Model.Items)
            {
                var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
               <tr class="@_class">
                    <td> 
                        @(Html.ActionLink<OutpostController>(it => it.PhoneListInput(outpost.Id), "Phone List", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                                                                                                           
                    </td>
                      <td>
                      @outpost.Name
                    </td>
                     <td>@outpost.MainMobileNumber
                    </td>
                     <td>@outpost.Email
                    </td>
                     <td>@outpost.Latitude
                    </td>
                     <td>@outpost.Longitude
                    </td>
                    <td>
                        @(Html.ActionLink<OutpostController>(it => it.Edit(outpost.Id), "Edit", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                    </td>
                    <td>
                         @{Html.BeginForm<OutpostController>(m => m.Delete(outpost.Id), FormMethod.Post, new { @class = "delete-user-form" }); }
                         @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                         @{Html.EndForm();}
                   </td>
                </tr> 
            }
        </tbody>
    </table>
}
@section master_actions{
    <h3>
        Actions</h3>
    <div class="page_header_buttons">
       @(Html.ActionLink<OutpostController>(it => it.Create(), "Create Outpost", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </div>
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".searchable").dataTable({
                "sPaginationType": "full_numbers"
            });
        });

        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Outpost ?')
            });
        });

        $(function () {
            $(".to-many-childs").submit(function () {
                return confirm('Are you sure that you want to delete this Outpost ?')
            });
        });


    </script>
}

