@using Web.Areas.OutpostManagement.Models.Outpost

@model List<OutpostModel>
           
 <div id="outpost-overview">          

        <table id="outposts-table">
            <thead>
                <tr>
                    <th  class="sort-alpha">
                        Outpost Name
                    </th>
                    <th>
                        Contact Method
                   </th>
                   <th colspan=2 align="center">
                       Co-ordinates
                    </th>
                    <th>
                        Is Warehouse
                    </th>
                    <th>
                        Warehouse Name
                    </th>
                    <th colspan="2" align="center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var itemNo = 0;
                }
                @foreach (var outpost in Model)
                {
                    var _class = (itemNo++%2 == 0) ? "odd" : "even";

                    <tr>
                        <td class="search">
                            @(Html.ActionLink<StockLevelController>(it => it.OutpostStockLevelOverview(outpost.Id, null), @outpost.Name, OutpostManagementAreaRegistration.DEFAULT_ROUTE))                        
                        </td>
                        <td>@outpost.DetailMethod
                        </td>
                        <td>@outpost.Latitude
                        </td>
                        <td>@outpost.Longitude
                        </td>
                        <td>@if(@outpost.IsWarehouse)
                            {
                             <label>Yes</label>
                            }
                            else{
                             <label>No</label>
                            }
                        </td>
                        <td>@if (@outpost.Warehouse != null)
                            {
                                @outpost.Warehouse.Name
                            }
                        </td>
                        <td>
                            @(Html.ActionLink<OutpostController>(call => call.Edit(outpost.Id), "Edit", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
                        </td>
                        <td>                   
                            @{ Html.BeginForm<OutpostController>(m => m.Delete(outpost.Id), FormMethod.Post, new { @class = "delete-user-form" }); }
                            @Html.Button("delete-user", "Delete", HtmlButtonType.Submit)
                            @{ Html.EndForm(); }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section scripts{
    <script type="text/javascript">


     </script>
}